$variable-prefix: gridone- !default;
$enable-cssgrid: true;
$enable-negative-margins: true;
$font-family-sans-serif: Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif !default;

:root {
    --gridone-primary: #007bff !important;
    --gridone-primary-rgb: 0, 123, 255 !important;
    --gridone-secondary: #707070 !important;
    --gridone-secondary-rgb: 112, 112, 112 !important;
    --gridone-success: #2fb182 !important;
    --gridone-success-rgb: 47, 177, 130 !important;
    --gridone-danger: #dc3545 !important;
    --gridone-danger-rgb: 220, 53, 69 !important;
    --gridone-warning: #f08300 !important;
    --gridone-warning-rgb: 240, 131, 0 !important;
    --gridone-info: #6c63ff !important;
    --gridone-info-rgb: 108, 99, 255 !important;
    --gridone-yellow: #ffc107 !important;
    --gridone-yellow-rgb: 255, 193, 7 !important;
}

.bg-yellow {
    background: var(--gridone-yellow);
}

div.mobile-bar ul {
    list-style: none;
}

div.sidebar ul.list-group-flush li.list-group-item,
div.mobile-bar a.mb-link {
    display: flex;
    align-items: center;
    background: transparent;
    color: #fff;
    font-weight: bold;
}

div.sidebar ul.list-group-flush li.list-group-item {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.75rem;
}

div.collapse ul.list-unstyled li,
div.collapsing ul.list-unstyled li {
    padding: 0.5rem 1.25rem;
}

ul.list-unstyled li a.active,
ul.list-unstyled li ul.list-unstyled li.active,
ul.mbar-group li.active span {
    font-weight: bold;
    color: #6768ab;
}

div.mobile-bar li.mb-item {
    padding: 1rem 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

div.mobile-bar a.mb-link {
    flex-direction: column;
}

div.mobile-bar a.mb-link span {
    margin: 0 !important;
    font-size: 12px;
    white-space: nowrap;
}

div.sidebar ul.list-group-flush li.list-group-item:hover,
div.mobile-bar li.mb-item:hover {
    background: rgba(255, 255, 255, 0.13);
    border-radius: 1rem;
}

div.sidebar ul.list-group-flush li.list-group-item.active,
div.mobile-bar li.mb-item.active {
    background: rgba(255, 255, 255, 0.13);
    border-radius: 1rem;
    border: none;
}

div.sidebar ul.list-group-flush li.list-group-item.active i[class*="bi"],
div.mobile-bar li.mb-item.active i[class*="bi"] {
    color: #6c63ff;
}

div#search-box input:hover,
div#search-box input:active,
div#search-box input:focus {
    box-shadow: none;
    border: none;
}

#search-left {
    border: none;
    background-color: #fff;
}

#search-right {
    border-radius: 5px;
    border: none;
    background-color: #fff;
}

div#search-box input:-internal-autofill-selected {
    background-color: #fff !important;
}

div#main-card div.card:not(.note-editor, .dropbox),
div#sub-card div.card {
    // border-radius: 1rem;
    border: none;
}

div#sub-card div.card-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: #fff;
    border-bottom: none;
    padding: 1rem 1.5rem;
}

div#sub-card div.card-body {
    padding: 0 1.5rem 1rem 1.5rem;
}

div#main-card div.card.active {
    background: #202124;
    color: #fff;
}

div.card.active span.card-icon {
    background: rgba(103, 104, 171, 0.5);
}

div.card.active span.card-icon i[class*="bi"] {
    color: #6768ab;
}

div#sub-card div.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.info-badge span.badge.bg-success {
    background: rgba(var(--gridone-success-rgb), 0.5) !important;
}

span.info-badge span.badge.bg-success i[class*="bi"] {
    color: var(--gridone-success);
}

span.info-badge span.badge.bg-secondary {
    background: rgba(var(--gridone-secondary-rgb), 0.5) !important;
}

span.info-badge span.badge.bg-secondary i[class*="bi"] {
    color: var(--gridone-secondary);
}

div.content-nav .dropdown-menu {
    min-width: 8.25rem !important;
    top: 0.75rem !important;
}

div.content-nav .dropdown-item.active,
div.content-nav .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #6c63ff !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #6c63ff !important;
}

.nav-link {
    color: #6c63ff !important;
    font-weight: bold;
}

.table-custom {
    --gridone-table-bg: #fff;
    --gridone-table-striped-bg: #2c3034;
    --gridone-table-striped-color: #fff;
    --gridone-table-active-bg: #373b3e;
    --gridone-table-active-color: #fff;
    --gridone-table-hover-bg: rgba(var(--gridone-info-rgb), 0.13) !important;
    --gridone-table-hover-color: #212529 !important;
    color: #fff;
    border-color: #fff;
}

.table-custom > :not(:first-child) {
    border-top: 2px solid #6c63ff !important;
}

.table-custom th {
    color: #6c63ff !important;
    white-space: nowrap;
}

.page-link {
    color: #6c63ff !important;
}

.btn-custom {
    color: #fff !important;
    background-color: #6c63ff !important;
    border-color: #6c63ff !important;
}

.btn-custom:hover {
    color: #fff;
    background-color: #918aff;
    border-color: #918aff;
}

.btn-custom:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-outline-custom {
    color: #6c63ff !important;
    border-color: #6c63ff !important;
}

.btn-outline-custom:hover {
    color: #fff !important;
    background-color: #6c63ff !important;
    border-color: #6c63ff !important;
}

.btn-check:focus + .btn-outline-custom,
.btn-outline-custom:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 99, 255, 0.5) !important;
}

.btn-check:checked + .btn-outline-custom,
.btn-check:active + .btn-outline-custom,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.dropdown-toggle.show {
    color: #fff !important;
    background-color: #6c63ff !important;
    border-color: #6c63ff !important;
}

.btn-outline-custom:disabled,
.btn-outline-custom.disabled {
    color: #6c63ff !important;
    background-color: transparent;
}

.form-check-input:checked {
    background-color: #6c63ff !important;
    border-color: #6c63ff !important;
}

.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgb(108 99 255 / 25%);
    box-shadow: 0 0 0 0.25rem rgb(108 99 255 / 25%);
}

.issue-title .text-info,
.issue-info .text-info {
    color: #6c63ff !important;
}

.text-info {
    color: #6c63ff !important;
}
