@charset "UTF-8";
@import "pretendard.css";

@import "custom";
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-ie11/scss/bootstrap-ie11.scss";
@import "bootstrap-icons/font/bootstrap-icons.scss";

$sidebar-width: 320px;

body {
    background-color: #f5f5f5;
    color: #323333;
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

* {
    user-select: none;
}

*::selection {
    background: rgba(255, 153, 0, 0.7);
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.vsc-controller {
    display: none;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none;
}

.navbar {
    background-color: #000;
    height: 3.75rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 18px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.mobile-menu {
    display: none;
}

*[aria-expanded="true"] i.bi-chevron-down::before {
    transform: rotate(180deg);
}

a.navbar-brand img {
    height: 3.25rem;
    width: auto;
}

img#logo-gridone {
    width: auto;
    height: 2.25rem;
}

span.shortLine {
    width: 1.25rem;
    height: 2px;
    display: block;
    background: var(--gridone-warning);
}

span.longLine {
    width: 7rem;
    height: 2px;
    display: block;
    background: var(--gridone-warning);
}

.highlight {
    position: relative;
    z-index: 1;
}

.highlight::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(240, 131, 0, 0.5);
    z-index: -1;
}

a.scrollNext {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 0.5rem);
    opacity: 0.2;
    animation: elevate 0.7s infinite alternate;
}

select::-ms-expand {
    display: none;
}

#manual {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    bottom: 1rem;
    right: 1rem;
    transition: bottom 0.2s;
}

#manual.active {
    bottom: 13.5rem !important;
}

#manual::after {
    display: none;
}

@keyframes elevate {
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @media only screen and (max-width: 990px) {
        div.content {
            display: block !important;
        }

        div.content-wrapper {
            padding: 6.5rem 2rem 7.75rem 2rem !important;
        }

        div.content-wrapper.db-wrapper {
            padding: 6.5rem 2rem 6.25rem 2rem !important;
        }

        div#service-list .row {
            padding-bottom: 0 !important;
        }
    }

    input.form-control {
        min-height: 38px;
    }

    div#issue-board,
    div#service-list,
    div#service-charts {
        margin-bottom: 1.5rem !important;
    }

    div#service-list .row {
        padding-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 990px) {
    div.sidebar,
    span#toggle-bar {
        display: none !important;
    }

    div.content {
        padding-left: 0 !important;
        padding-bottom: 6.25rem !important;
    }

    div.content-nav {
        width: 100% !important;
    }

    div.content-wrapper {
        display: block !important;
    }

    div.mobile-bar,
    div.mbar-detail {
        display: flex !important;
    }

    ul#dropbox {
        min-height: 240px !important;
    }

    #manual {
        bottom: 7.25rem !important;
    }

    #table-responsive{
        display: block !important;
    }

    #table-static{
        display: none !important;
    }
}

section#main {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

div.content-nav .dropdown-toggle::after {
    display: none;
}

.date-wrap,
.time-wrap {
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
}

div.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    background: #202124;
    padding: 2rem 0 2rem 1rem;
    min-width: $sidebar-width;
    width: $sidebar-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: left 0.2s;
    z-index: 999;
    -ms-overflow-style: none;
}

section#main.active div.sidebar {
    left: -($sidebar-width);
}

div.sidebar ul.list-group {
    overflow-x: hidden;
    overflow-y: scroll;
}

div.sidebar ul.list-group > li {
    margin-right: 1rem;
}

div.content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding-left: $sidebar-width;
    transition: padding 0.2s;
}

section#main.active div.content {
    padding-left: 0px;
}

div.sidebar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.content-nav {
    position: fixed;
    border-bottom: 1px solid;
    border-color: transparent;
    z-index: 700;
    top: 0;
    width: calc(100% - $sidebar-width);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #fff;
}

section#main.active div.content-nav {
    width: 100%;
}

div.mobile-bar {
    height: 100px;
    padding: 0.75rem 0.5rem;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #202124;
    z-index: 9999;
}

div.mbar-detail {
    height: 100px;
    padding: 0.75rem 0.5rem;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #202124;
    z-index: 9999;
    transition: bottom 0.2s;
}

div.mbar-detail.active {
    bottom: 100px !important;
}

.mbar-detail .mbar-group li {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mbar-detail .mbar-group {
    display: none;
}

.mbar-detail .mbar-group.active {
    display: flex !important;
}

span#theme-select {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 50%;
    transition: background 0.2s;
}

span#theme-select:hover {
    background: rgba(255, 255, 255, 0.5);
}

div.login-wrapper {
    // height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.login-inner {
    width: 22rem;
}

div.login-inner input:focus,
div.login-inner input:active {
    border-color: #ced4da;
    box-shadow: none;
}

ul.find_wrap {
    list-style: none;
    padding: 20px 0 35px;
    text-align: center;
}

.find_wrap li {
    display: inline-block;
}

li a.find_text {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #888;
}

.find_wrap li + li::before {
    content: "|";
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #888;
}

#pw-tostring,
#pwcheck-tostring {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

div.brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 0.75rem 0.75rem 1rem 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 50%;
    background: #f9f9fd;
}

div.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #f5f5f5;
    padding: 6.5rem 2rem 1.5rem 2rem;
}

span#user-picture img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

span#alert-count {
    background: #6768ab;
}

span.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 50%;
    color: #fff;
}

div.calendar {
    display: flex;
    align-items: center;
}

span.info-num {
    font-size: 1.5rem;
    color: #6768ab;
}

span#calendar-prev,
span#calendar-next {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 5px;
}

span#calendar-prev i,
span#calendar-next i {
    font-weight: bold;
    font-size: 10px;
}

span#calYear {
    font-size: 12px;
}

div.progress-chart {
    width: 100%;
    height: 2.25rem;
    display: flex;
}

// div[class*="progress-"]:not(div.progress-chart) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: #fff;
// }

div.progress-delete,
div.progress-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(var(--gridone-danger-rgb), 0.5);
}

div.progress-active,
div.progress-user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(var(--gridone-primary-rgb), 0.5);
}

div.progress-deactive {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(var(--gridone-yellow-rgb), 0.5);
}

div.progress-legend {
    display: flex;
    align-items: center;
}

span.legend-item {
    width: 14px;
    height: 6px;
    display: block;
}

span.legend-name {
    color: #000;
    font-size: 12px;
}

span.legend-item.bg-danger {
    background: rgba(var(--gridone-danger-rgb), 0.5) !important;
    border: 1px solid var(--gridone-danger);
}

span.legend-item.bg-primary {
    background: rgba(var(--gridone-primary-rgb), 0.5) !important;
    border: 1px solid var(--gridone-primary);
}

span.legend-item.bg-yellow {
    background: rgba(var(--gridone-yellow-rgb), 0.5) !important;
    border: 1px solid var(--gridone-yellow);
}

div.board-item {
    height: 3rem;
    display: flex;
    margin-bottom: 0.75rem;
}

span.board-legend {
    width: 4px;
    height: 100%;
    display: block;
}

div.board-info {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    width: calc(100% - 0.75rem);
}

span.more-task,
span.collapse-task {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
}

div.issue-item {
    padding: 0.75rem 0;
}

div.issue-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

div.issue-header {
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem;
}

span.issue-info {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
}

p.issues {
    font-size: 14px;
}

div.main-card {
    min-height: 5rem;
    padding-left: 1.5rem;
    border-left: 3px solid #6c63ff;
}

p.blockquote-footer cite {
    font-size: 0.75rem;
}

ul#pills-tab {
    border: 1px solid rgba(108, 99, 255, 0.25);
    border-radius: 0.25rem;
    padding: 0.25rem;
}

div.thumbnail {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

div.thumbnail img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

ul.index-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

li.index-list-item {
    display: flex;
    align-items: center;
    margin-left: -5px;
}

span.index-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
}

span.index-count {
    font-weight: bold;
}

#title-wrap .title {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0 !important;
}

#title-wrap .title:focus,
#title-wrap .title:active {
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #6c63ff;
    border-radius: 0 !important;
}

#title-wrap .form-select:focus,
#title-wrap .form-select:active {
    border: 1px solid #6c63ff;
    box-shadow: none;
}

div.board-wrapper div.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

div.board-wrapper div.card-header {
    background: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    min-height: 3.5rem;
}

ul#dropbox {
    list-style: none;
    min-height: 120px;
}

li.answer {
    padding-left: 3rem;
    position: relative;
}

li.answer:before {
    font-family: "bootstrap-icons";
    content: "\f132";
    position: absolute;
    left: 1.5rem;
    top: 0.65rem;
}

.node-tree {
    display: flex !important;
    align-items: center;
}

.node-tree input,
.list-wrapper input,
.node-tree input:disabled,
.list-wrapper input:disabled {
    padding: 0 !important;
    background: transparent !important;
    border: none;
}

.node-tree .active input::placeholder,
.list-wrapper .active input::placeholder {
    color: rgba(255, 255, 255, 0.75)
}

.node-tree.node-selected input {
    color: #fff;
}

.node-tree input {
    color: #000;
}

.list-wrapper {
    height: 12.875rem;
    overflow-y: auto;
}

div.list-wrapper div.list-group .list-group-item.active {
    background-color: #6c63ff !important;
    border-color: #6c63ff !important;
}

div.list-wrapper div.list-group .list-group-item.active input {
    color: #fff;
}

.infinity-rotate::before{
    animation: rotate 3s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

#right-popup{
    position: fixed;
    top: 6.5rem;
    right: -300px;
    width: 300px;
    height: 150px;
    background: #fff;
    z-index: 2022;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%) !important;
    transition: right 0.5s;
}

#right-popup.active{
    right: 2rem;
}

#table-responsive {
    display: none;
}

#table-responsive .card:not(:last-child){
    border-radius: 0;
    border-bottom: 1px solid #dee2e6 !important;
}