@charset "UTF-8";
@import "pretendard.css";

@import "custom";
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-ie11/scss/bootstrap-ie11.scss";
@import "bootstrap-icons/font/bootstrap-icons.scss";

@media only screen and (min-width: 1900px) {
    #image-list {
        flex: 0 0 300px !important;
    }

    #item-list {
        flex: 0 0 250px !important;
    }

    #attr-list {
        flex: 0 0 400px !important;
    }
}

@media only screen and (min-width: 2500px) {
    #image-list {
        flex: 0 0 400px !important;
    }

    #item-list {
        flex: 0 0 350px !important;
    }

    #attr-list {
        flex: 0 0 500px !important;
    }
}
/* BASIC SETTING START */

body {
    background-color: #f5f5f5;
    color: #323333;
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

* {
    user-select: none;
}

*::selection {
    background: rgba(255, 153, 0, 0.7);
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.vsc-controller {
    display: none;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none;
}

/* BASIC SETTING END */
section#main {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.abs-0-0 {
    position: absolute;
    top: 0;
    left: 0;
}

#key-help{
    height: 4.875rem !important;
}

#draw-object tr{
    vertical-align: middle;
}

#draw-object tr.active {
    background-color: rgb(248, 215, 218) !important;
}

.navbar{
    height: 3.5rem;
}

#wrapper{
    height: calc(100% - 3.5rem);
}

.image-item{
    position: relative;
    padding: 0.5rem;
}

.image-item span{
    position: relative;
    z-index: 1011;
}

.image-item.active::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(248, 215, 218) !important;
}

.image-item:hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 215, 218, 0.5) !important;
}

.key-option.active span:nth-child(1) {
    background-color: #a4373a !important;
}

.key-option.active span:nth-child(2) {
    color: #a4373a !important;
}

.list-body,
.image-item{
    padding: 1.5rem;
}

div[id *="attr-item"],
div[id *="attr-page"],
div[id *="attr-project"]{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

div#attrTabContent > div[id *="attr-"] > div.row {
    padding-top: 1rem;
}

div#attrTabContent>div[id *="attr-"] div.item-key,
div#attrTabContent>div[id *="attr-"] div.item-value.item-value-check{
    display: flex;
    align-items: center;
}

div[aria-expanded="false"] i.caret::before{
    transform: rotate(-90deg);
}

div.item-key,
div.item-value{
    height: 2.375rem;
}

div.item-key span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.collapse[id *= "attr-"] > .row{
    margin-top: 0.5rem;
}

ul.nav-pills-custom {
    border: 1px solid rgba(164, 55, 58, 0.25);
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.nav-pills-custom .nav-link {
    color: #a4373a !important;
    background: none !important;
    border: 0 !important;
    border-radius: 0.25rem !important;
}

.nav-pills-custom .nav-link.active{
    color: #fff !important;
    background-color: #a4373a !important;
    border-color: #a4373a !important;
}