<!DOCTYPE html>
<html lang="ko">
@gridone-include('../include/header.html')
<body>
    <main>     
        <section id="main">
            @gridone-include('../include/sidebar.html')
            <div class="content">
                @gridone-include('../include/nav.html')
                <div class="content-wrapper db-wrapper">
                    <div id="main-card" class="mb-4">
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 h-100 g-4">
                            <div class="col">
                                <div class="card active">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-stack fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">총 서비스 개수</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">99개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-check-lg fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">정상 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">99개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-exclamation-lg fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">비정상 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-trash fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">폐기 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-file-earmark-code fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">개발 중 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-cloud-arrow-up fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">운영 중 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sub-card">
                        <div class="row row-cols-1 row-cols-lg-3 g-4 mb-4">
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">전체 가입현황</span>
                                        <div class="calendar">
                                            <select class="form-select" id="yearpicker" data-placeholder="연도 선택">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">16</span>
                                                <span>명</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">1</span>
                                                <span>명</span>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1">
                                            <canvas id="myChart" style="width: 100%; height: 9.375rem;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center pt-3">
                                        <div id="clock" class="text-center">
                                            <span id="dates" class="d-block fs-2 fw-bold"></span>
                                            <span id="time" class="d-block fs-2 fw-bold">
                                                <span id="amPm" class="fs-5 me-1"></span>
                                                <span id="nowTime"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div id="status-card" class="row row-cols-1 row-cols-lg-2 h-100">
                                    <div class="col mb-4">
                                        <div class="card h-100">
                                            <div class="card-header">
                                                <span class="card-header-text fw-bold opacity-50 d-block">API 키 발급 요청 현황</span>
                                            </div>
                                            <div class="card-body d-flex align-items-center">
                                                <div class="card-info d-flex align-items-center">
                                                    <span class="info-all fw-bold me-3">
                                                        <span class="me-2">총</span>
                                                        <span class="info-num">18</span>
                                                        <span>개</span>
                                                    </span>
                                                    <span class="info-new fw-bold me-2">
                                                        <span class="me-2">신규</span>
                                                        <span class="info-num">2</span>
                                                        <span>개</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-4">
                                        <div class="card h-100">
                                            <div class="card-header">
                                                <span class="card-header-text fw-bold opacity-50 d-block">권한 변경 요청 현황</span>
                                            </div>
                                            <div class="card-body d-flex align-items-center">
                                                <div class="card-info d-flex align-items-center">
                                                    <span class="info-all fw-bold me-3">
                                                        <span class="me-2">총</span>
                                                        <span class="info-num">10</span>
                                                        <span>개</span>
                                                    </span>
                                                    <span class="info-new fw-bold me-2">
                                                        <span class="me-2">신규</span>
                                                        <span class="info-num">1</span>
                                                        <span>개</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-lg-0">
                                        <div class="card h-100">
                                            <div class="card-header">
                                                <span class="card-header-text fw-bold opacity-50 d-block">가입 승인 요청 현황</span>
                                            </div>
                                            <div class="card-body d-flex align-items-center">
                                                <div class="card-info d-flex align-items-center">
                                                    <span class="info-all fw-bold me-3">
                                                        <span class="me-2">총</span>
                                                        <span class="info-num">5</span>
                                                        <span>개</span>
                                                    </span>
                                                    <span class="info-new fw-bold me-2">
                                                        <span class="me-2">신규</span>
                                                        <span class="info-num">0</span>
                                                        <span>개</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <div class="card-header">
                                                <span class="card-header-text fw-bold opacity-50 d-block">비밀번호 초기화 요청 현황</span>
                                            </div>
                                            <div class="card-body d-flex align-items-center">
                                                <div class="card-info d-flex align-items-center">
                                                    <span class="info-all fw-bold me-3">
                                                        <span class="me-2">총</span>
                                                        <span class="info-num">0</span>
                                                        <span>개</span>
                                                    </span>
                                                    <span class="info-new fw-bold me-2">
                                                        <span class="me-2">신규</span>
                                                        <span class="info-num">0</span>
                                                        <span>개</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-lg-2 g-4">
                            <div class="col">
                                <div id="user-card" class="row row-cols-1 h-100">
                                    <div class="col mb-4">
                                        <div class="card h-100">
                                            <div class="card-header">
                                                <span class="card-header-text fw-bold opacity-50 d-block">상태별 사용자</span>
                                                <div class="progress-legend">
                                                    <span class="legend-item bg-danger me-2"></span>
                                                    <span class="legend-name me-4">삭제</span>
                                                    <span class="legend-item bg-primary me-2"></span>
                                                    <span class="legend-name me-4">활성화</span>
                                                    <span class="legend-item bg-yellow me-2"></span>
                                                    <span class="legend-name">비활성화</span>
                                                </div>
                                            </div>
                                            <div class="card-body d-flex align-items-center">
                                                <div class="progress-chart w-100">
                                                    <div class="progress-delete" data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="삭제">
                                                        <span class="progress-num">3</span>
                                                    </div>
                                                    <div class="progress-active" data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="활성화">
                                                        <span class="progress-num">11</span>
                                                    </div>
                                                    <div class="progress-deactive" data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="비활성화">
                                                        <span class="progress-num">2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <div class="card-header">
                                                <span class="card-header-text fw-bold opacity-50 d-block">권한별 사용자</span>
                                                <div class="progress-legend">
                                                    <span class="legend-item bg-danger me-2"></span>
                                                    <span class="legend-name me-4">관리자</span>
                                                    <span class="legend-item bg-primary me-2"></span>
                                                    <span class="legend-name">사용자</span>
                                                </div>
                                            </div>
                                            <div class="card-body d-flex align-items-center">
                                                <div class="progress-chart w-100">
                                                    <div class="progress-admin" data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="관리자">
                                                        <span class="progress-num">1</span>
                                                    </div>
                                                    <div class="progress-user" data-bs-toggle="tooltip" data-bs-placement="top" title="사용자">
                                                        <span class="progress-num">15</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-header d-block d-lg-flex">
                                        <span class="card-header-text fw-bold opacity-50 d-block">전체 게시글 현황</span>
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">16</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">0</span>
                                                <span>개</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row row-cols-2 g-0 h-100">
                                            <div class="col h-100">
                                                <canvas id="boardChart" style="width: 100%; height: 100%;"></canvas>
                                            </div>
                                            <div class="col h-100 ps-4 ps-lg-0">
                                                <div class="board-item">
                                                    <span class="board-legend bg-danger"></span>
                                                    <div class="board-info">
                                                        <span class="fw-bold text-truncate board-name" title="Automate 3.0 Trainer와의 연동">
                                                            Automate 3.0 Trainer와의 연동
                                                        </span>
                                                        <span class="opacity-50">
                                                            AI 스토리
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="board-item">
                                                    <span class="board-legend bg-danger"></span>
                                                    <div class="board-info">
                                                        <span class="fw-bold text-truncate board-name" title="AIDA와의 연동">
                                                            AIDA와의 연동
                                                        </span>
                                                        <span class="opacity-50">
                                                            AI 스토리
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="board-item">
                                                    <span class="board-legend bg-primary"></span>
                                                    <div class="board-info">
                                                        <span class="fw-bold text-truncate board-name" title="Automate 3.0 Trainer와의 연동">
                                                            동해물과 백두산이
                                                        </span>
                                                        <span class="opacity-50">
                                                            공지사항
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="board-item">
                                                    <span class="board-legend bg-yellow"></span>
                                                    <div class="board-info">
                                                        <span class="fw-bold text-truncate board-name" title="Automate 3.0 Trainer와의 연동">
                                                            회원가입이 되지 않아요
                                                        </span>
                                                        <span class="opacity-50">
                                                            질문과 답변
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="issue-board" class="mt-4">
                            <div class="card">
                                <div class="card-header d-block d-lg-flex">
                                    <span class="card-header-text fw-bold opacity-50 d-block">이슈 처리 현황</span>
                                    <div class="card-info d-block align-items-center">
                                        <span class="info-all fw-bold me-3">
                                            <span class="me-2">총</span>
                                            <span class="info-num">20</span>
                                            <span>개</span>
                                        </span>
                                        <span class="info-new fw-bold me-3">
                                            <span class="me-2">처리</span>
                                            <span class="info-num text-primary">15</span>
                                            <span>개</span>
                                        </span>
                                        <span class="info-new fw-bold">
                                            <span class="me-2">미처리</span>
                                            <span class="info-num text-danger">5</span>
                                            <span>개</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row row-cols-1 row-cols-lg-3">
                                        <div class="col mb-3 mb-lg-0">
                                            <div class="issue-header">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="fs-5 fw-bold">처리 대상</span>
                                                    <div class="d-flex">
                                                        <span class="collapse-task" data-bs-toggle="collapse" data-bs-target="#issue-opt1"
                                                            role="button" aria-expanded="false" aria-controls="issue-opt1">
                                                            <i class="bi bi-chevron-down opacity-50"></i>
                                                        </span>
                                                        <span class="more-task">
                                                            <i class="bi bi-three-dots opacity-50"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <small class="opacity-50">5개의 태스크</small>
                                            </div>
                                            <div class="issue-body">
                                                <div class="collapse" id="issue-opt1">
                                                    <div class="issue-item">
                                                        <h6 class="fw-bold mb-0">Model 103 작동오류</h6>
                                                        <span class="issue-info">Seungmin Lee, 2시간 전</span>
                                                        <p class="issues">
                                                            희망의 없으면, 같이, 청춘 길을 피다. 실로 긴지라 꽃이 용기가 곳으로 얼음이 풍부하게 봄바람이다.
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="hashtag">
                                                                <span class="badge rounded-pill bg-primary">#Publishing</span>
                                                            </div>
                                                            <span class="d-flex align-items-center text-muted">
                                                                <i class="bi bi-chat-left-fill lh-1 me-2"></i>
                                                                <span class="comment-num">12</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="issue-item">
                                                        <h6 class="fw-bold mb-0">Model 103 작동오류</h6>
                                                        <span class="issue-info">Seungmin Lee, 2시간 전</span>
                                                        <p class="issues">
                                                            희망의 없으면, 같이, 청춘 길을 피다. 실로 긴지라 꽃이 용기가 곳으로 얼음이 풍부하게 봄바람이다.
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="hashtag">
                                                                <span class="badge rounded-pill bg-primary">#Publishing</span>
                                                            </div>
                                                            <span class="d-flex align-items-center text-muted">
                                                                <i class="bi bi-chat-left-fill lh-1 me-2"></i>
                                                                <span class="comment-num">12</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="issue-item">
                                                        <h6 class="fw-bold mb-0">Model 103 작동오류</h6>
                                                        <span class="issue-info">Seungmin Lee, 2시간 전</span>
                                                        <p class="issues">
                                                            희망의 없으면, 같이, 청춘 길을 피다. 실로 긴지라 꽃이 용기가 곳으로 얼음이 풍부하게 봄바람이다.
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="hashtag">
                                                                <span class="badge rounded-pill bg-primary">#Publishing</span>
                                                            </div>
                                                            <span class="d-flex align-items-center text-muted">
                                                                <i class="bi bi-chat-left-fill lh-1 me-2"></i>
                                                                <span class="comment-num">12</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="issue-item">
                                                        <h6 class="fw-bold mb-0">Model 103 작동오류</h6>
                                                        <span class="issue-info">Seungmin Lee, 2시간 전</span>
                                                        <p class="issues">
                                                            희망의 없으면, 같이, 청춘 길을 피다. 실로 긴지라 꽃이 용기가 곳으로 얼음이 풍부하게 봄바람이다.
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="hashtag">
                                                                <span class="badge rounded-pill bg-primary">#Publishing</span>
                                                            </div>
                                                            <span class="d-flex align-items-center text-muted">
                                                                <i class="bi bi-chat-left-fill lh-1 me-2"></i>
                                                                <span class="comment-num">12</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="issue-item">
                                                        <h6 class="fw-bold mb-0">Model 103 작동오류</h6>
                                                        <span class="issue-info">Seungmin Lee, 2시간 전</span>
                                                        <p class="issues">
                                                            희망의 없으면, 같이, 청춘 길을 피다. 실로 긴지라 꽃이 용기가 곳으로 얼음이 풍부하게 봄바람이다.
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="hashtag">
                                                                <span class="badge rounded-pill bg-primary">#Publishing</span>
                                                            </div>
                                                            <span class="d-flex align-items-center text-muted">
                                                                <i class="bi bi-chat-left-fill lh-1 me-2"></i>
                                                                <span class="comment-num">12</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-3 mb-lg-0">
                                            <div class="issue-header">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="fs-5 fw-bold">처리 진행중</span>
                                                    <div class="d-flex">
                                                        <span class="collapse-task" data-bs-toggle="collapse" data-bs-target="#issue-opt2"
                                                            role="button" aria-expanded="false" aria-controls="issue-opt2">
                                                            <i class="bi bi-chevron-down opacity-50"></i>
                                                        </span>
                                                        <span class="more-task">
                                                            <i class="bi bi-three-dots opacity-50"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <small class="opacity-50">5개의 태스크</small>
                                            </div>
                                            <div class="issue-body">
                                                <div class="collapse" id="issue-opt2">
                                                    <div class="issue-item">
                                                        <h6 class="fw-bold mb-0">Model 103 작동오류</h6>
                                                        <span class="issue-info">Seungmin Lee, 2시간 전</span>
                                                        <p class="issues">
                                                            희망의 없으면, 같이, 청춘 길을 피다. 실로 긴지라 꽃이 용기가 곳으로 얼음이 풍부하게 봄바람이다.
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="hashtag">
                                                                <span class="badge rounded-pill bg-primary">#Publishing</span>
                                                            </div>
                                                            <span class="d-flex align-items-center text-muted">
                                                                <i class="bi bi-chat-left-fill lh-1 me-2"></i>
                                                                <span class="comment-num">12</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="issue-item">
                                                        <h6 class="fw-bold mb-0">Model 103 작동오류</h6>
                                                        <span class="issue-info">Seungmin Lee, 2시간 전</span>
                                                        <p class="issues">
                                                            희망의 없으면, 같이, 청춘 길을 피다. 실로 긴지라 꽃이 용기가 곳으로 얼음이 풍부하게 봄바람이다.
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="hashtag">
                                                                <span class="badge rounded-pill bg-primary">#Publishing</span>
                                                            </div>
                                                            <span class="d-flex align-items-center text-muted">
                                                                <i class="bi bi-chat-left-fill lh-1 me-2"></i>
                                                                <span class="comment-num">12</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="issue-item">
                                                        <h6 class="fw-bold mb-0">Model 103 작동오류</h6>
                                                        <span class="issue-info">Seungmin Lee, 2시간 전</span>
                                                        <p class="issues">
                                                            희망의 없으면, 같이, 청춘 길을 피다. 실로 긴지라 꽃이 용기가 곳으로 얼음이 풍부하게 봄바람이다.
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="hashtag">
                                                                <span class="badge rounded-pill bg-primary">#Publishing</span>
                                                            </div>
                                                            <span class="d-flex align-items-center text-muted">
                                                                <i class="bi bi-chat-left-fill lh-1 me-2"></i>
                                                                <span class="comment-num">12</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-3 mb-lg-0">
                                            <div class="issue-header">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="fs-5 fw-bold">처리 완료</span>
                                                    <div class="d-flex">
                                                        <span class="collapse-task" data-bs-toggle="collapse" data-bs-target="#issue-opt3"
                                                            role="button" aria-expanded="false" aria-controls="issue-opt3">
                                                            <i class="bi bi-chevron-down opacity-50"></i>
                                                        </span>
                                                        <span class="more-task">
                                                            <i class="bi bi-three-dots opacity-50"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <small class="opacity-50">10개의 태스크</small>
                                            </div>
                                            <div class="issue-body">
                                                <div class="collapse" id="issue-opt3">
                                                    <div class="issue-item">
                                                        <h6 class="fw-bold mb-0">Model 103 작동오류</h6>
                                                        <span class="issue-info">Seungmin Lee, 2시간 전</span>
                                                        <p class="issues">
                                                            희망의 없으면, 같이, 청춘 길을 피다. 실로 긴지라 꽃이 용기가 곳으로 얼음이 풍부하게 봄바람이다.
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="hashtag">
                                                                <span class="badge rounded-pill bg-primary">#Publishing</span>
                                                            </div>
                                                            <span class="d-flex align-items-center text-muted">
                                                                <i class="bi bi-chat-left-fill lh-1 me-2"></i>
                                                                <span class="comment-num">12</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="issue-item">
                                                        <h6 class="fw-bold mb-0">Model 103 작동오류</h6>
                                                        <span class="issue-info">Seungmin Lee, 2시간 전</span>
                                                        <p class="issues">
                                                            희망의 없으면, 같이, 청춘 길을 피다. 실로 긴지라 꽃이 용기가 곳으로 얼음이 풍부하게 봄바람이다.
                                                        </p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="hashtag">
                                                                <span class="badge rounded-pill bg-primary">#Publishing</span>
                                                            </div>
                                                            <span class="d-flex align-items-center text-muted">
                                                                <i class="bi bi-chat-left-fill lh-1 me-2"></i>
                                                                <span class="comment-num">12</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @gridone-include('../include/mobile-bar.html')
            </div>
        </section>
        @gridone-include('../include/modal.html')
    </main>
    @gridone-include('../include/script.html')
    <script>
        const fullDate = document.querySelector("#dates");
        const amPm = document.querySelector("#amPm");
        const clock = document.querySelector("#nowTime");

        Date.prototype.amPm = function () {
            let h = this.getHours() < 12 ? "오전" : "오후";
            return h;
        }

        if (!String.prototype.padStart) {
            String.prototype.padStart = function padStart(targetLength, padString) {
                if (this.length >= targetLength) {
                    return String(this);
                } else {
                    if (padString == null || padString == " ") {
                        padString = " ";
                    } else if (padString.length > 1) {
                        padString = padString.substring(0, 1);
                    }
                    targetLength = targetLength - this.length;
                    var prefix = "";
                    for (var i = 0; i < targetLength; i++) {
                        prefix += padString;
                    }
                    return prefix + String(this);
                }
            };
        }

        function getDate() {
            const date = new Date();

            let years = date.getFullYear();
            let months = String(date.getMonth() + 1).padStart(2, "0");
            let dates = String(date.getDate()).padStart(2, "0");

            // fullDate.innerText = `${years}년 ${months}월 ${dates}일`;
            fullDate.innerText = years + "년 " + months + "월 " + dates + "일";
        }

        function getAmPm() {
            const date = new Date();
            const nowStat = date.amPm();

            // amPm.innerText = `${nowStat} `;
            amPm.innerText = nowStat + " "
        }

        function getTime() {
            const date = new Date();
            let hours = "";
            if (date.getHours() > 12) {
                hours = String(date.getHours() - 12).padStart(2, "0");
            } else {
                hours = String(date.getHours()).padStart(2, "0");
            }
            let minutes = String(date.getMinutes()).padStart(2, "0");
            let seconds = String(date.getSeconds()).padStart(2, "0");

            // clock.innerText = `${hours}:${minutes}:${seconds}`;
            clock.innerText = hours + ":" + minutes + ":" + seconds;
        }

        getDate();
        getAmPm();
        getTime();
        setInterval(getDate, 1000);
        setInterval(getAmPm, 1000);
        setInterval(getTime, 1000);
    </script>
    <script>
        const deleteBar = $("div.progress-delete");
        const activeBar = $("div.progress-active");
        const deactiveBar = $("div.progress-deactive");
        const adminBar = $("div.progress-admin");
        const userBar = $("div.progress-user");

        const deleteNum = parseInt($("div.progress-delete span.progress-num").html());
        const activeNum = parseInt($("div.progress-active span.progress-num").html());
        const deactiveNum = parseInt($("div.progress-deactive span.progress-num").html());
        const adminNum = parseInt($("div.progress-admin span.progress-num").html());
        const userNum = parseInt($("div.progress-user span.progress-num").html());

        const allUsers = deleteNum + activeNum + deactiveNum;

        deleteBar.css("width", Math.ceil((deleteNum / allUsers) * 100) + "%");
        activeBar.css("width", Math.ceil((activeNum / allUsers) * 100) + "%");
        deactiveBar.css("width", Math.ceil((deactiveNum / allUsers) * 100) + "%");
        adminBar.css("width", Math.ceil((adminNum / allUsers) * 100) + "%");
        userBar.css("width", Math.ceil((userNum / allUsers) * 100) + "%");
    </script>
    <script>
        // 전체 가입 현황 그래프
        const labels = [
            '1월',
            '2월',
            '3월',
            '4월',
            '5월',
            '6월',
            '7월',
            '8월',
            '9월',
            '10월',
            '11월',
            '12월'
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: '가입 수',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [8, 5, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                legend: {
                    display: false
                },
                responsive: true,
                maintainAspectRatio: false,
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
    <script>
        const boardLabels = [
            'AI 스토리',
            '공지사항',
            '질문과 답변'
        ];

        const boardData = {
            labels: boardLabels,
            datasets: [{
                data: [8, 5, 3],
                backgroundColor: [
                    'rgb(220, 53, 69)',
                    'rgb(0, 123, 255)',
                    'rgb(255, 193, 7)'
                ]
            }],
        };

        const boardConfig = {
            type: 'doughnut',
            data: boardData,
            options: {
                legend: {
                    display: false
                },
                responsive: true,
                maintainAspectRatio: false,
            }
        };

        const boardChart = new Chart(
            document.getElementById('boardChart'),
            boardConfig
        );
    </script>
    <script>
        let dateDropdown = document.getElementById('yearpicker');

        let currentYear = new Date().getFullYear();
        let earliestYear = 2000;

        while (currentYear >= earliestYear) {
            let dateOption = document.createElement('option');
            dateOption.text = currentYear;
            dateOption.value = currentYear;
            dateDropdown.add(dateOption);
            currentYear -= 1;
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#yearpicker').select2({
                minimumResultsForSearch: -1,
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
            });
        });
    </script>
    <script>
        document.getElementsByName("sidebar-dashboard")[0].classList.add("active");
        document.getElementsByName("mbar-dashboard")[0].classList.add("active");
        document.getElementById("admin-dashboard").classList.add("active");
        document.getElementById("admin-dashboard-mobile").classList.add("active");
        document.getElementById("page-title").innerHTML = "대시보드";
    </script>
</body>
</html>