<!DOCTYPE html>
<html lang="ko">
@gridone-include('../include/header.html')
<body>
    <main>     
        <section id="main">
            @gridone-include('../include/sidebar.html')
            <div class="content">
                @gridone-include('../include/nav.html')
                <div class="content-wrapper db-wrapper">
                    <div class="d-flex flex-column align-items-center bg-white mb-4 p-4">
                        <div class="row row-cols-1 row-cols-lg-2 g-0 w-100">
                            <div class="col">
                                <p class="fw-bold fs-3 mb-0">SERVICE#001</p>
                            </div>
                            <div class="col mt-3 mt-lg-0">
                                <div class="d-flex align-items-center">
                                    <div class="w-100">
                                        <select class="form-select" id="model-select" data-placeholder="인스턴스 선택">
                                            <option value=""></option>
                                            <option value="service01">INSTANCE#001</option>
                                            <option value="service02">INSTANCE#002</option>
                                            <option value="service03">INSTANCE#003</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-custom ms-3">
                                        <span class="text-nowrap">선택</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start w-100 mt-2">
                            <p class="opacity-50 mb-0">나랏말이 중국과 달라 문자와 서로 통하지 아니하므로 이런 까닭으로 어리석은 백성이 이르고자 하는 바가 있어도 마침내 제 뜻을 능히 펴지 못하는 사람이 많다.</p>
                        </div>
                        <div class="border-top mt-3 pt-3 w-100">
                            <ul class="d-flex align-items-center ps-0 mb-0">
                                <li class="index-list-item ms-0 me-3">
                                    <span class="index-circle bg-success me-2"></span>
                                    <span class="index-text me-2">정상</span>
                                    <span class="index-count">40</span>
                                </li>
                                <li class="index-list-item ms-0 me-3">
                                    <span class="index-circle bg-danger me-2"></span>
                                    <span class="index-text me-2">에러</span>
                                    <span class="index-count">7</span>
                                </li>
                                <li class="index-list-item ms-0 me-3">
                                    <span class="index-circle bg-warning me-2"></span>
                                    <span class="index-text me-2">대체</span>
                                    <span class="index-count">18</span>
                                </li>
                                <li class="index-list-item ms-0 me-3">
                                    <span class="index-circle bg-secondary me-2"></span>
                                    <span class="index-text me-2">폐기</span>
                                    <span class="index-count">6</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="instance-wrapper">
                        <div id="instance-info" class="d-flex flex-column w-100 bg-white p-4 mb-4">
                            <div class="d-flex align-items-center mb-3 pb-3 border-bottom">
                                <span class="badge rounded-pill bg-success me-2">정상</span>
                                <p class="fw-bold mb-0">INSTANCE#001</p>
                            </div>
                            <div class="row row-cols-1 row-cols-lg-3">
                                <span id="instance-modify" class="col d-flex align-items-center">
                                    <span class="badge rounded-pill bg-secondary me-2">수정일</span>
                                    <span>2022/03/22 17:50:00</span>
                                </span>
                                <span id="instance-check" class="col d-flex align-items-center">
                                    <span class="badge rounded-pill bg-secondary me-2">체크일</span>
                                    <span>2022/03/22 17:50:00</span>
                                </span>
                                <span id="instance-register" class="col d-flex align-items-center">
                                    <span class="badge rounded-pill bg-secondary me-2">등록일</span>
                                    <span>2022/03/22 17:50:00</span>
                                </span>
                            </div>
                        </div>
                        <div id="sub-card">
                            <div class="row row-cols-1 row-cols-lg-2 g-4 mb-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-header border-bottom">
                                            <span class="card-header-text fw-bold d-block">정보</span>
                                        </div>
                                        <div class="card-body p-4">
                                            <div class="mb-3">
                                                <label for="info-explain" class="form-label opacity-50 fw-bold small">설명</label>
                                                <textarea class="form-control" id="info-explain" rows="3" disabled>그러나 별들을 별 계십니다. 라이너 풀이 어머니, 이름과 까닭이요, 하나에 봄이 언덕 무성할 봅니다.</textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="info-explain" class="form-label opacity-50 fw-bold small">INPUT</label>
                                                <textarea class="form-control" id="info-explain" rows="2" disabled>시와 이름과 무덤 청춘이 쉬이 불러 한 거외다. 아직 하나에 이름과, 동경과 것은 경, 하나의 이런 거외다.</textarea>
                                            </div>
                                            <div>
                                                <label for="info-explain" class="form-label opacity-50 fw-bold small">OUTPUT</label>
                                                <textarea class="form-control" id="info-explain" rows="2" disabled>별들을 멀리 무덤 하나에 까닭이요, 헤일 사랑과 동경과 버리었습니다.</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-header border-bottom">
                                            <span class="card-header-text fw-bold d-block">상태</span>
                                        </div>
                                        <div class="card-body p-4">
                                            <div class="row row-cols-1 row-cols-lg-2">
                                                <div class="col">
                                                    <label for="info-explain" class="form-label opacity-50 fw-bold small">Instance</label>
                                                    <input type="text" class="form-control" id="stat-instance" value="-" disabled>
                                                </div>
                                                <div class="col">
                                                    <label for="info-explain" class="form-label opacity-50 fw-bold small">Hystrix</label>
                                                    <input type="text" class="form-control" id="stat-instance" value="-" disabled>
                                                </div>
                                                <div class="col">
                                                    <label for="info-explain" class="form-label opacity-50 fw-bold small">Ping</label>
                                                    <input type="text" class="form-control" id="stat-instance" value="-" disabled>
                                                </div>
                                                <div class="col">
                                                    <label for="info-explain" class="form-label opacity-50 fw-bold small">Refresh Scope</label>
                                                    <input type="text" class="form-control" id="stat-instance" value="-" disabled>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row row-cols-1 row-cols-lg-3">
                                                <div class="col">
                                                    <label for="info-explain" class="form-label opacity-50 fw-bold small">Refresh Scope</label>
                                                    <input type="text" class="form-control" id="stat-instance" value="-" disabled>
                                                </div>
                                                <div class="col">
                                                    <label for="info-explain" class="form-label opacity-50 fw-bold small">Refresh Scope</label>
                                                    <input type="text" class="form-control" id="stat-instance" value="-" disabled>
                                                </div>
                                                <div class="col">
                                                    <label for="info-explain" class="form-label opacity-50 fw-bold small">Refresh Scope</label>
                                                    <input type="text" class="form-control" id="stat-instance" value="-" disabled>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row row-cols-1 row-cols-lg-2">
                                                <div class="col">
                                                    <label for="info-explain" class="form-label opacity-50 fw-bold small">Refresh Scope</label>
                                                    <input type="text" class="form-control" id="stat-instance" value="-" disabled>
                                                </div>
                                                <div class="col">
                                                    <label for="info-explain" class="form-label opacity-50 fw-bold small">Refresh Scope</label>
                                                    <input type="text" class="form-control" id="stat-instance" value="-" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header border-bottom">
                                            <span class="card-header-text fw-bold d-block">프로세스</span>
                                        </div>
                                        <div class="card-body p-4">
                                            <table class="table table-custom table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">프로세스 CPU 사용량</th>
                                                        <th class="text-center">시스템 CPU 사용량</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">-%</td>
                                                        <td class="text-center">-%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header border-bottom">
                                            <span class="card-header-text fw-bold d-block">가비지 컬렉션 유휴기간</span>
                                        </div>
                                        <div class="card-body p-4">
                                            <table class="table table-custom table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">횟수</th>
                                                        <th class="text-center">전체 소요 시간</th>
                                                        <th class="text-center">최대 소요 시간</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">-회</td>
                                                        <td class="text-center">-시간</td>
                                                        <td class="text-center">-시간</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-lg-3" id="service-charts">
                                <div class="col mb-4 mb-lg-0">
                                    <div class="card h-100">
                                        <div class="card-header border-bottom">
                                            <span class="card-header-text fw-bold d-block">Thread</span>
                                        </div>
                                        <div class="card-body pt-4">
                                            <div class="w-100 h-100">
                                                <canvas id="chart-thread" style="width: 100%; height: 100%;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4 mb-lg-0">
                                    <div class="card h-100">
                                        <div class="card-header border-bottom">
                                            <span class="card-header-text fw-bold d-block">Memory Heap</span>
                                        </div>
                                        <div class="card-body pt-4">
                                            <div class="w-100 h-100">
                                                <canvas id="chart-heap" style="width: 100%; height: 100%;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-header border-bottom">
                                            <span class="card-header-text fw-bold d-block">Memory Non-Heap</span>
                                        </div>
                                        <div class="card-body pt-4">
                                            <div class="w-100 h-100">
                                                <canvas id="chart-nonheap" style="width: 100%; height: 100%;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @gridone-include('../include/mobile-bar.html')
            </div>
        </section>
        @gridone-include('../include/modal.html')
    </main>
    @gridone-include('../include/script.html')
    <script>
        const threadConfig = {
            type: 'bar',
            data: {
                labels: [
                    'DEMON',
                    'LIVE',
                    'PEAK'
                ],
                datasets: [{
                    label: [
                        'Thread'
                    ],
                    backgroundColor: [
                        'rgba(0, 123, 255, 0.75)',
                        'rgba(47, 177, 130, 0.75)',
                        'rgba(220, 53, 69, 0.75)'
                    ],
                    borderColor: [
                        'rgb(0, 123, 255)',
                        'rgb(47, 177, 130)',
                        'rgb(220, 53, 69)'
                    ],
                    borderWidth: '1',
                    data: ['12','19','3']
                }]
            },
            options: {
                legend: {
                    display: false
                },
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };

        const threadChart = new Chart(
            document.getElementById('chart-thread'),
            threadConfig
        );
    </script>
    <script>
        const heapConfig = {
            type: 'bar',
            data: {
                labels: [
                    '사용됨',
                    '사이즈',
                    '최대'
                ],
                datasets: [{
                    label: [
                        'Heap'
                    ],
                    backgroundColor: [
                        'rgba(0, 123, 255, 0.75)',
                        'rgba(47, 177, 130, 0.75)',
                        'rgba(220, 53, 69, 0.75)'
                    ],
                    borderColor: [
                        'rgb(0, 123, 255)',
                        'rgb(47, 177, 130)',
                        'rgb(220, 53, 69)'
                    ],
                    borderWidth: '1',
                    data: ['19', '3', '12']
                }]
            },
            options: {
                legend: {
                    display: false
                },
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };

        const heapChart = new Chart(
            document.getElementById('chart-heap'),
            heapConfig
        );
    </script>
    <script>
        const nonheapConfig = {
            type: 'bar',
            data: {
                labels: [
                    '메타스페이스',
                    '사용됨',
                    '사이즈',
                    '최대'
                ],
                datasets: [{
                    label: [
                        'NonHeap'
                    ],
                    backgroundColor: [
                        'rgba(255, 193, 7 , 0.75)',
                        'rgba(0, 123, 255, 0.75)',
                        'rgba(47, 177, 130, 0.75)',
                        'rgba(220, 53, 69, 0.75)'
                    ],
                    borderColor: [
                        'rgb(255, 193, 7)',
                        'rgb(0, 123, 255)',
                        'rgb(47, 177, 130)',
                        'rgb(220, 53, 69)'
                    ],
                    borderWidth: '1',
                    data: ['2', '3', '12', '15']
                }]
            },
            options: {
                legend: {
                    display: false
                },
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };

        const nonheapChart = new Chart(
            document.getElementById('chart-nonheap'),
            nonheapConfig
        );
    </script>
    <script>
        $(document).ready(function () {
            $('#model-select').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
            });
        });
    </script>
    <script>
        document.getElementsByName("sidebar-ai")[0].classList.add("active");
        document.getElementsByName("mbar-ai")[0].classList.add("active");
        document.getElementById("ai-list").classList.add("active");
        document.getElementById("page-title").innerHTML = "서비스 목록";
    </script>
</body>
</html>