<!DOCTYPE html>
<html lang="ko">
@gridone-include('../include/header.html')
<body>
    <main>     
        <section id="main">
            @gridone-include('../include/sidebar.html')
            <div class="content">
                @gridone-include('../include/nav.html')
                <div class="content-wrapper">
                    <div class="d-flex flex-column align-items-center bg-white mb-4 p-4">
                        <div class="row row-cols-1 row-cols-lg-2 g-0 w-100">
                            <div class="col">
                                <p class="fw-bold fs-3 mb-0">AI 스토리 등록</p>
                            </div>
                            <div class="col mt-3 mt-lg-0">
                                <div class="d-flex justify-content-end align-items-center">
                                    <button class="btn btn-custom">
                                        <span class="text-nowrap">저장</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center bg-white mb-4 p-4" id="title-wrap">
                        <input type="text" id="title" name="title" class="form-control title" maxlength="250" tabindex="1" placeholder="제목"
                            autocomplete="off">
                    </div>
                    <div id="main-card" class="flex-grow-1 board-wrapper">
                        <div class="row row-cols-1 row-cols-lg-2 gx-4 h-100">
                            <div class="col mb-4 mb-lg-0">
                                <div class="d-flex flex-column h-100" id="editor-wrapper">
                                    <textarea name="content" id="editor" class="flex-grow-1"></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column h-100">
                                    <div class="card dropbox mb-4 flex-grow-1">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between align-items-center w-100">
                                                <span class="fw-bold me-2">썸네일</span>
                                                <button type="button" class="btn btn-secondary btn-sm ms-auto" id="button-img-attach">
                                                    파일첨부
                                                </button>
                                                <input class="d-none" type="file" name="thumbnail" id="input-img-attach" accept="image/*">
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <ul id="thumbnail" class="list-group-flush ps-0 mb-0">
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card dropbox">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center w-100">
                                                <span class="fw-bold me-2">첨부파일</span>
                                                <span class="filesize">
                                                    <span id="nowsize">0.00MB</span>
                                                    <span>/ 100MB</span>
                                                </span>
                                                <button type="button" class="btn btn-secondary btn-sm ms-auto" id="button-attach">
                                                    파일첨부
                                                </button>
                                                <input class="d-none" type="file" name="file" id="input-attach" accept="text/html,.css,.js">
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <ul id="dropbox" class="list-group-flush ps-0 mb-0">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @gridone-include('../include/mobile-bar.html')
            </div>
        </section>
        @gridone-include('../include/modal.html')
    </main>
    @gridone-include('../include/script.html')
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('editor', {
                on: {
                    'instanceReady': function (evt) {
                        evt.editor.resize("100%", $("#editor-wrapper").height());
                    }
                }
            });

            $('#button-attach').click(function (e) {
                e.preventDefault();
                $('#input-attach').click();
            });

            $('#button-img-attach').click(function (e) {
                e.preventDefault();
                $('#input-img-attach').click();
            });

            $("#input-attach").on("change", fileCheck);
            $("#input-img-attach").on("change", function(e) {
                var target = e.target.files[0];
                console.log(target);

                $("#thumbnail").append(
                    '<li class="list-group-item" id="thumb-img' +
                    '">' +
                    '<i class="bi bi-paperclip mr-1"></i>' +
                    '<span class="attach-title">' +
                    target.name +
                    "</span>" +
                    '<i class="bi bi-x text-danger" onclick="thumbDelete(\'thumb-img\')"></i>' +
                    "</li>"
                );
            });
        });

        function thumbDelete(id) {
                var target = $("#" + id);
                $("#input-img-attach").val(null);
                target.remove();
        }
    </script>
    <script>
        document.getElementsByName("sidebar-contents")[0].classList.add("active");
        document.getElementsByName("mbar-contents")[0].classList.add("active");
        document.getElementById("ai-story").classList.add("active");
        document.getElementById("ai-story-mobile").classList.add("active");
        document.getElementById("page-title").innerHTML = "AI 스토리";
    </script>
</body>
</html>