<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gridone - AI Portal</title>

    <link rel="stylesheet" href="assets/style/master.css">
</head>
<body>
    <main>     
        <section id="main">
            @gridone-include('../include/sidebar.html')
            <div class="content">
                @gridone-include('../include/nav.html')
                <div class="content-wrapper">
                    <div id="introduction" class="d-flex flex-column justify-content-center bg-white p-5">
                        <div class="row g-0">
                            <div class="col-12 col-lg-8">
                                <h1 class="fw-bold">최신의 AI기술을<br>원하는 방식대로</h1>
                                <p class="opacity-50 mb-4">
                                    비즈니스에 즉시 적용 가능한 솔루션,<br class="d-none d-lg-block">
                                    경쟁력 있는 인공지능 구축의 기반이 되는 강력한 AI 인프라,<br class="d-none d-lg-block">
                                    그리드원의 풍부한 데이터를 기반으로 학습된 최신 인공지능 서비스를 이용해<br class="d-none d-lg-block">
                                    경쟁력있는 AI서비스를 쉽고 편리하게 구축할 수 있습니다.
                                </p>
                                <button class="btn bg-info text-white fw-bold">체험하기</button>
                            </div>
                            <div class="col col-lg-4">
                                <img class="w-100" src="assets/images/ai.svg" alt="ai">
                            </div>
                        </div>
                        <div class="row g-0 mt-4">
                            <div class="col-12 col-lg main-card mb-4 mb-lg-0">
                                <span class="fw-bold fs-4">
                                    세계 최고 수준의<br>
                                    AI 기술과 솔루션
                                </span>
                            </div>
                            <div class="col-12 col-lg main-card mb-4 mb-lg-0">
                                <span class="fw-bold fs-4">
                                    최첨단 AI 기술과<br>
                                    아이디어의 시너지
                                </span>
                            </div>
                            <div class="col-12 col-lg main-card">
                                <span class="fw-bold fs-4">
                                    비즈니스 맞춤형<br>
                                    AI 솔루션
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="service-list" class="mt-4">
                        <div class="row row-cols-1 row-cols-lg-3 g-4">
                            <div class="col">
                                <div class="card border-light">
                                    <div class="card-body">
                                        <h5 class="fw-bold">A2O-MANAGEMENT</h5>
                                        <blockquote class="blockquote mb-2">
                                            <p>Test Model</p>
                                            <p class="blockquote-footer"><cite title="Source Title">NORMAL(1)_ABNORMAL(1)_ALTERED(0)_DISCARDED(0)</cite></p>
                                        </blockquote>
                                        <div class="d-flex justify-content-end">
                                            <a href="#" class="card-link fw-bold">
                                                <span>자세히 보기</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-light">
                                    <div class="card-body">
                                        <h5 class="fw-bold">A2O-MANAGEMENT</h5>
                                        <blockquote class="blockquote mb-2">
                                            <p>Test Model</p>
                                            <p class="blockquote-footer"><cite
                                                    title="Source Title">NORMAL(1)_ABNORMAL(1)_ALTERED(0)_DISCARDED(0)</cite></p>
                                        </blockquote>
                                        <div class="d-flex justify-content-end">
                                            <a href="#" class="card-link fw-bold">
                                                <span>자세히 보기</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-light">
                                    <div class="card-body">
                                        <h5 class="fw-bold">A2O-MANAGEMENT</h5>
                                        <blockquote class="blockquote mb-2">
                                            <p>Test Model</p>
                                            <p class="blockquote-footer"><cite
                                                    title="Source Title">NORMAL(1)_ABNORMAL(1)_ALTERED(0)_DISCARDED(0)</cite></p>
                                        </blockquote>
                                        <div class="d-flex justify-content-end">
                                            <a href="#" class="card-link fw-bold">
                                                <span>자세히 보기</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-light">
                                    <div class="card-body">
                                        <h5 class="fw-bold">A2O-MANAGEMENT</h5>
                                        <blockquote class="blockquote mb-2">
                                            <p>Test Model</p>
                                            <p class="blockquote-footer"><cite
                                                    title="Source Title">NORMAL(1)_ABNORMAL(1)_ALTERED(0)_DISCARDED(0)</cite></p>
                                        </blockquote>
                                        <div class="d-flex justify-content-end">
                                            <a href="#" class="card-link fw-bold">
                                                <span>자세히 보기</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-light">
                                    <div class="card-body">
                                        <h5 class="fw-bold">A2O-MANAGEMENT</h5>
                                        <blockquote class="blockquote mb-2">
                                            <p>Test Model</p>
                                            <p class="blockquote-footer"><cite
                                                    title="Source Title">NORMAL(1)_ABNORMAL(1)_ALTERED(0)_DISCARDED(0)</cite></p>
                                        </blockquote>
                                        <div class="d-flex justify-content-end">
                                            <a href="#" class="card-link fw-bold">
                                                <span>자세히 보기</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-light">
                                    <div class="card-body">
                                        <h5 class="fw-bold">A2O-MANAGEMENT</h5>
                                        <blockquote class="blockquote mb-2">
                                            <p>Test Model</p>
                                            <p class="blockquote-footer"><cite
                                                    title="Source Title">NORMAL(1)_ABNORMAL(1)_ALTERED(0)_DISCARDED(0)</cite></p>
                                        </blockquote>
                                        <div class="d-flex justify-content-end">
                                            <a href="#" class="card-link fw-bold">
                                                <span>자세히 보기</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-light">
                                    <div class="card-body">
                                        <h5 class="fw-bold">A2O-MANAGEMENT</h5>
                                        <blockquote class="blockquote mb-2">
                                            <p>Test Model</p>
                                            <p class="blockquote-footer"><cite
                                                    title="Source Title">NORMAL(1)_ABNORMAL(1)_ALTERED(0)_DISCARDED(0)</cite></p>
                                        </blockquote>
                                        <div class="d-flex justify-content-end">
                                            <a href="#" class="card-link fw-bold">
                                                <span>자세히 보기</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-light">
                                    <div class="card-body">
                                        <h5 class="fw-bold">A2O-MANAGEMENT</h5>
                                        <blockquote class="blockquote mb-2">
                                            <p>Test Model</p>
                                            <p class="blockquote-footer"><cite
                                                    title="Source Title">NORMAL(1)_ABNORMAL(1)_ALTERED(0)_DISCARDED(0)</cite></p>
                                        </blockquote>
                                        <div class="d-flex justify-content-end">
                                            <a href="#" class="card-link fw-bold">
                                                <span>자세히 보기</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-light">
                                    <div class="card-body">
                                        <h5 class="fw-bold">A2O-MANAGEMENT</h5>
                                        <blockquote class="blockquote mb-2">
                                            <p>Test Model</p>
                                            <p class="blockquote-footer"><cite
                                                    title="Source Title">NORMAL(1)_ABNORMAL(1)_ALTERED(0)_DISCARDED(0)</cite></p>
                                        </blockquote>
                                        <div class="d-flex justify-content-end">
                                            <a href="#" class="card-link fw-bold">
                                                <span>자세히 보기</span>
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @gridone-include('../include/mobile-bar.html')
            </div>
        </section>
        @gridone-include('../include/modal.html')
    </main>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="assets/script/bootstrap.bundle.js"></script>
    <script src="assets/script/common.min.js"></script>
    <script>
        $(function () {
            const mainSection = document.getElementById("main");
            const toggleBar = document.getElementById("toggle-bar");

            toggleBar.addEventListener('click', function () {
                if(!mainSection.classList.contains('active')){
                    mainSection.classList.add("active");
                } else {
                    mainSection.classList.remove("active");
                }
            });

            const fullDate = document.querySelector("#dates");

            function getDate() {
                const date = new Date();

                let years = date.getFullYear();
                let months = String(date.getMonth()).padStart(2, "0");
                let dates = String(date.getDate()).padStart(2, "0");

                fullDate.innerText = `${years}년 ${months}월 ${dates}일`;
            }

            getDate();
            setInterval(getDate, 300000);
        });
    </script>
    <script>
        document.getElementsByName("sidebar-ai")[0].classList.add("active");
        document.getElementsByName("mbar-ai")[0].classList.add("active");
        document.getElementById("page-title").innerHTML = "AI 서비스";
    </script>
</body>
</html>