<!DOCTYPE html>
<html lang="ko">
@gridone-include('../include/header.html')
<body>
    <main>     
        <section id="main">
            @gridone-include('../include/sidebar.html')
            <div class="content">
                @gridone-include('../include/nav.html')
                <div class="content-wrapper">
                    <div class="d-flex flex-column justify-content-center align-items-center bg-white mb-4 p-4">
                        <div class="row row-cols-1 row-cols-lg-2 g-0 w-100">
                            <div class="col">
                                <p class="fw-bold fs-3 mb-0">제목제목제목제목</p>
                                <p class="mb-0 opacity-50">
                                    <span id="board-writer">관리자(ADMIN)</span>
                                    <span class="px-1">&middot;</span>
                                    <span id="board-date">2022-03-25</span>
                                </p>
                            </div>
                            <div class="col mt-3 mt-lg-0">
                                <div class="d-flex justify-content-end align-items-center h-100">
                                    <button class="btn btn-custom me-3">
                                        <span class="text-nowrap">삭제</span>
                                    </button>
                                    <button class="btn btn-custom me-3">
                                        <span class="text-nowrap">수정</span>
                                    </button>
                                    <button class="btn btn-custom">
                                        <span class="text-nowrap">목록</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="main-card" class="flex-grow-1 bg-white p-4">
                        <div class="d-flex flex-column mb-4">
                            <p class="mb-auto">
                                그리드원은 일과 삶의 균형이 보장된 미래 지향적인 업무 환경을 제공하기 위해 다양한 자동화 솔루션을 연구 개발하고 있는 인공지능 솔루션 전문기업입니다.
                                <br>특히, 국내 최초 지능형 RPA(Robotic Process Automation) 솔루션인 AutomateOne 솔루션의 개발을 통해 기존에 직원들이 수행하던 단순 반복적인 업무 프로세스를
                                자동화함으로써
                                <br>직원들의 업무 생산성 향상과 저녁이 있는 삶에 기여하고 있습니다.
                                <br>앞으로도 더 많은 사람들이 보다 편리한환경 속에서 가치 있는 삶을 영위할 수 있도록 인공지능 기술에 대한 지속적인 연구 개발에 최선을 다하겠습니다.
                                <br><br>
                                그리드원의 가치는 사람이며, 사람으로부터 나오는 가치가 그리드원을 성장시킵니다.<br><br>
                                AutomateOne 솔루션은 다양한 인공지능 기술과 접목하여 규칙적인 단순 반복 업무 외에 어려운 업무도 자동화가 가능한 지능형 RPA 솔루션입니다.
                                <br>대한민국 정부가 인정한 <strong>GS인증 1등급 소프트웨어</strong>입니다.
                            </p>
                        </div>
                        <div class="card dropbox mb-4">
                            <div class="card-header">
                                <div class="d-flex align-items-center w-100">
                                    <span class="fw-bold me-2">첨부파일</span>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul id="dropbox" class="list-group-flush ps-0 mb-0">
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex flex-column border-top">
                            <div class="d-flex align-items-center my-3">
                                <span class="fw-bold fs-5 me-1">댓글</span>
                                <span class="badge rounded-pill bg-info">5</span>
                            </div>
                            <div class="form-inline form-input-group w-100 mb-4">
                                <div class="input-group">
                                    <textarea class="form-control" placeholder="댓글을 입력해주세요" rows="3"></textarea>
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary input-group-text rounded-0 rounded-end px-4 h-100"
                                            type="button">등록</button>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="comment-header d-flex justify-content-between mb-2">
                                        <span class="d-flex align-items-center">
                                            <span class="fw-bold me-1">이승민 사원</span>
                                            <small class="text-muted me-1">(smlee98)</small>
                                            <small class="text-muted">4분전</small>
                                        </span>
                                        <span class="comment-button">
                                            <span class="comment-reply me-2">답글달기</span>
                                            <span class="comment-edit me-2">수정</span>
                                            <span class="comment-delete">삭제</span>
                                        </span>
                                    </div>
                                    <div class="comment-body">
                                        <p class="m-0">
                                            슬퍼하는 시와 사랑과 까닭이요, 둘 이웃 까닭입니다. 추억과 별 하나에 버리었습니다. 별을 이름과, 너무나 아무 패, 멀리 했던 있습니다. 계집애들의 가을 자랑처럼 걱정도
                                            시인의 새겨지는 있습니다. 동경과 헤는 오는 나는 불러 어머니 계십니다. 토끼, 밤이 보고, 둘 어머님, 듯합니다. 하나 북간도에 된 나의 이 아무 비둘기, 다 계십니다.
                                        </p>
                                    </div>
                                </li>
                                <li class="list-group-item answer">
                                    <div class="comment-header d-flex justify-content-between mb-2">
                                        <span class="d-flex align-items-center">
                                            <span class="fw-bold me-1">이승민 사원</span>
                                            <small class="text-muted me-1">(smlee98)</small>
                                            <small class="text-muted">4분전</small>
                                        </span>
                                        <span class="comment-button">
                                            <span class="comment-reply me-2">답글달기</span>
                                            <span class="comment-edit me-2">수정</span>
                                            <span class="comment-delete">삭제</span>
                                        </span>
                                    </div>
                                    <div class="comment-body">
                                        <p class="m-0">
                                            슬퍼하는 시와 사랑과 까닭이요, 둘 이웃 까닭입니다. 추억과 별 하나에 버리었습니다. 별을 이름과, 너무나 아무 패, 멀리 했던 있습니다. 계집애들의 가을 자랑처럼 걱정도
                                            시인의 새겨지는 있습니다. 동경과 헤는 오는 나는 불러 어머니 계십니다. 토끼, 밤이 보고, 둘 어머님, 듯합니다. 하나 북간도에 된 나의 이 아무 비둘기, 다 계십니다.
                                        </p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="comment-header d-flex justify-content-between mb-2">
                                        <span class="d-flex align-items-center">
                                            <span class="fw-bold me-1">이승민 사원</span>
                                            <small class="text-muted me-1">(smlee98)</small>
                                            <small class="text-muted">4분전</small>
                                        </span>
                                        <span class="comment-button">
                                            <span class="comment-reply me-2">답글달기</span>
                                            <span class="comment-edit me-2">수정</span>
                                            <span class="comment-delete">삭제</span>
                                        </span>
                                    </div>
                                    <div class="comment-body">
                                        <p class="m-0">
                                            슬퍼하는 시와 사랑과 까닭이요, 둘 이웃 까닭입니다. 추억과 별 하나에 버리었습니다. 별을 이름과, 너무나 아무 패, 멀리 했던 있습니다. 계집애들의 가을 자랑처럼 걱정도
                                            시인의 새겨지는 있습니다. 동경과 헤는 오는 나는 불러 어머니 계십니다. 토끼, 밤이 보고, 둘 어머님, 듯합니다. 하나 북간도에 된 나의 이 아무 비둘기, 다 계십니다.
                                        </p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="comment-header d-flex justify-content-between mb-2">
                                        <span class="d-flex align-items-center">
                                            <span class="fw-bold me-1">이승민 사원</span>
                                            <small class="text-muted me-1">(smlee98)</small>
                                            <small class="text-muted">4분전</small>
                                        </span>
                                        <span class="comment-button">
                                            <span class="comment-reply me-2">답글달기</span>
                                            <span class="comment-edit me-2">수정</span>
                                            <span class="comment-delete">삭제</span>
                                        </span>
                                    </div>
                                    <div class="comment-body">
                                        <p class="m-0">
                                            슬퍼하는 시와 사랑과 까닭이요, 둘 이웃 까닭입니다. 추억과 별 하나에 버리었습니다. 별을 이름과, 너무나 아무 패, 멀리 했던 있습니다. 계집애들의 가을 자랑처럼 걱정도
                                            시인의 새겨지는 있습니다. 동경과 헤는 오는 나는 불러 어머니 계십니다. 토끼, 밤이 보고, 둘 어머님, 듯합니다. 하나 북간도에 된 나의 이 아무 비둘기, 다 계십니다.
                                        </p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="comment-header d-flex justify-content-between mb-2">
                                        <span class="d-flex align-items-center">
                                            <span class="fw-bold me-1">이승민 사원</span>
                                            <small class="text-muted me-1">(smlee98)</small>
                                            <small class="text-muted">4분전</small>
                                        </span>
                                        <span class="comment-button">
                                            <span class="comment-reply me-2">답글달기</span>
                                            <span class="comment-edit me-2">수정</span>
                                            <span class="comment-delete">삭제</span>
                                        </span>
                                    </div>
                                    <div class="comment-body">
                                        <p class="m-0">
                                            슬퍼하는 시와 사랑과 까닭이요, 둘 이웃 까닭입니다. 추억과 별 하나에 버리었습니다. 별을 이름과, 너무나 아무 패, 멀리 했던 있습니다. 계집애들의 가을 자랑처럼 걱정도
                                            시인의 새겨지는 있습니다. 동경과 헤는 오는 나는 불러 어머니 계십니다. 토끼, 밤이 보고, 둘 어머님, 듯합니다. 하나 북간도에 된 나의 이 아무 비둘기, 다 계십니다.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @gridone-include('../include/mobile-bar.html')
            </div>
        </section>
        @gridone-include('../include/modal.html')
    </main>
    @gridone-include('../include/script.html')
    <script>
        $(document).ready(function () {
            var summernoteOptions = {
                placeholder: '내용을 입력해주세요.',
                focus: true, // auto focus
                minHeight: 360,
                disableResizeEditor: true,
                toolbar: [
                    // ['style', ['style']], // 폰트 스타일
                    ['font', ['bold', 'underline', 'clear']], // 강조 스타일
                    // ['fontname', ['fontname']], // 폰트 지정
                    // ['color', ['color']], // 색상
                    ['para', ['ul', 'ol', 'paragraph']], // 리스트 스타일, 정렬
                    // ['table', ['table']], // 표
                    // ['insert', ['link', 'picture', 'video']], // 삽입 (링크, 이미지)
                    // ['view', ['codeview']], // 보기 모드 (전체, 코드 뷰, 도움말)
                ],
            };

            $('#summernote').summernote(summernoteOptions);
            $('.note-statusbar').hide();

            $('#button-attach').click(function (e) {
                e.preventDefault();
                $('#input-attach').click();
            });

            $('#button-img-attach').click(function (e) {
                e.preventDefault();
                $('#input-img-attach').click();
            });

            $("#input-attach").on("change", fileCheck);
            $("#input-img-attach").on("change", function(e) {
                var target = e.target.files[0];
                console.log(target);

                $("#thumbnail").append(
                    '<li class="list-group-item" id="thumb-img' +
                    '">' +
                    '<i class="bi bi-paperclip mr-1"></i>' +
                    '<span class="attach-title">' +
                    target.name +
                    "</span>" +
                    '<i class="bi bi-x text-danger" onclick="thumbDelete(\'thumb-img\')"></i>' +
                    "</li>"
                );
            });
        });

        function thumbDelete(id) {
                var target = $("#" + id);
                $("#input-img-attach").val(null);
                target.remove();
        }
    </script>
    <script>
        document.getElementsByName("sidebar-contents")[0].classList.add("active");
        document.getElementsByName("mbar-contents")[0].classList.add("active");
        document.getElementById("ai-story").classList.add("active");
        document.getElementById("page-title").innerHTML = "AI 스토리";
    </script>
</body>
</html>