<!DOCTYPE html>
<html lang="en">
    @gridone-include('../include/header.html')
    <body>
        <section id="main">
            <div class="d-flex flex-column w-100 h-100">
                <div class="alert alert-danger mb-0" role="alert">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center me-4">
                            <span class="badge bg-secondary me-2">Q</span>
                            <span class="fw-bold text-muted">Checkbox</span>
                        </div>
                        <div class="d-flex align-items-center me-4">
                            <span class="badge bg-secondary me-2">W</span>
                            <span class="fw-bold text-muted">HandWrite</span>
                        </div>
                        <div class="d-flex align-items-center me-4">
                            <span class="badge bg-secondary me-2">E</span>
                            <span class="fw-bold text-muted">CropImage</span>
                        </div>
                        <div class="d-flex align-items-center me-4">
                            <span class="badge bg-secondary me-2">R</span>
                            <span class="fw-bold text-muted">Match Template</span>
                        </div>
                        <div class="d-flex align-items-center me-4">
                            <span class="badge bg-secondary me-2">T</span>
                            <span class="fw-bold text-muted">Data Exist</span>
                        </div>
                        <div class="d-flex align-items-center me-4">
                            <span class="badge bg-secondary me-2">Y</span>
                            <span class="fw-bold text-muted">Table</span>
                        </div>
                        <div class="d-flex align-items-center me-4">
                            <span class="badge bg-secondary me-2">U</span>
                            <span class="fw-bold text-muted">Text Extractor</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="badge bg-secondary me-2">P</span>
                            <span class="fw-bold text-muted">Page Indexer</span>
                        </div>
                        <div id="alert-button" class="ms-auto">
                            <button class="btn btn-secondary">이미지 업로드</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex h-100">
                    <div class="canvas-group flex-grow-1">
                        <div class="position-relative overflow-auto w-100 h-100">
                            <canvas class="abs-0-0" id="canvas" style="z-index: 0"></canvas>
                            <canvas class="abs-0-0" id="image-canvas" style="z-index: -1"></canvas>
                            <canvas class="abs-0-0" id="backup-canvas" style="z-index: -2; display: none"></canvas>
                        </div>
                    </div>
                    <div id="itembox">
                        <!-- <h3>현재 클릭 좌표 객체 (x, y, w, h) : <span id="current-location"></span></h3> -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <span>인덱스 번호</span>
                                    </th>
                                    <th>
                                        <span>아이템 영역</span>
                                        <i class="bi bi-info-circle-fill opacity-50" data-bs-toggle="tooltip" data-bs-placement="top" title="x-axis, y-axis, width, height"></i>
                                    </th>
                                    <th>
                                        <span>아이템 종류</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="draw-object"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        @gridone-include('../include/script.html')
        <script type="text/javascript">
            $(function () {
                $("[data-bs-toggle ='tooltip']").tooltip();
            });
        </script>
    </body>
</html>
