<!DOCTYPE html>
<html lang="ko">
@gridone-include('../include/header.html')
<body>
    <main>     
        <section id="main">
            @gridone-include('../include/sidebar.html')
            <div class="content">
                @gridone-include('../include/nav.html')
                <div class="content-wrapper">
                    <div id="sub-card" class="mb-4">
                        <div class="row row-cols-1 row-cols-lg-4 h-100 g-4">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">API 키 발급 요청 현황</span>
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">18</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">2</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-badge">
                                                <span class="badge rounded-pill bg-success">
                                                    <i class="bi bi-arrow-up-right me-1"></i>
                                                    <span class="badge-num">2</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">권한 변경 요청 현황</span>
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">10</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">1</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-badge">
                                                <span class="badge rounded-pill bg-success">
                                                    <i class="bi bi-arrow-up-right me-1"></i>
                                                    <span class="badge-num">1</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">가입 승인 요청 현황</span>
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">5</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">0</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-badge">
                                                <span class="badge rounded-pill bg-secondary">
                                                    <i class="bi bi-dash-lg me-1"></i>
                                                    <span class="badge-num">0</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">비밀번호 초기화 요청 현황</span>
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">0</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">0</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-badge">
                                                <span class="badge rounded-pill bg-secondary">
                                                    <i class="bi bi-dash-lg me-1"></i>
                                                    <span class="badge-num">0</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="main-card" class=" flex-grow-1 bg-white">
                        <ul class="nav nav-pills row row-cols-2 row-cols-lg-4 g-0" id="pills-tab" role="tablist">
                            <li class="nav-item col d-flex justify-content-center" role="presentation">
                                <button class="nav-link active w-100" id="pills-regist-tab" data-bs-toggle="pill" data-bs-target="#pills-regist"
                                    type="button" role="tab" aria-controls="pills-regist" aria-selected="true">가입 승인 요청</button>
                            </li>
                            <li class="nav-item col d-flex justify-content-center" role="presentation">
                                <button class="nav-link w-100" id="pills-apikey-tab" data-bs-toggle="pill" data-bs-target="#pills-apikey"
                                    type="button" role="tab" aria-controls="pills-apikey" aria-selected="false">API Key 발급 요청</button>
                            </li>
                            <li class="nav-item col d-flex justify-content-center" role="presentation">
                                <button class="nav-link w-100" id="pills-auth-tab" data-bs-toggle="pill" data-bs-target="#pills-auth"
                                    type="button" role="tab" aria-controls="pills-auth" aria-selected="false">권한 변경 요청</button>
                            </li>
                            <li class="nav-item col d-flex justify-content-center" role="presentation">
                                <button class="nav-link w-100" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password" type="button"
                                    role="tab" aria-controls="pills-password" aria-selected="false">비밀번호 변경 요청</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active overflow-auto p-4" id="pills-regist" role="tabpanel" aria-labelledby="pills-home-tab">
                                <table class="table table-custom table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">요청자</th>
                                            <th scope="col">요청자 이메일</th>
                                            <th scope="col">요청내용</th>
                                            <th scope="col">요청일자</th>
                                            <th scope="col">처리여부</th>
                                            <th scope="col">처리일자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade overflow-auto p-4" id="pills-apikey" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <table class="table table-custom table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">요청자</th>
                                            <th scope="col">요청자 이메일</th>
                                            <th scope="col">요청내용</th>
                                            <th scope="col">요청일자</th>
                                            <th scope="col">처리여부</th>
                                            <th scope="col">처리일자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade overflow-auto p-4" id="pills-auth" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <table class="table table-custom table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">요청자</th>
                                            <th scope="col">요청자 이메일</th>
                                            <th scope="col">요청내용</th>
                                            <th scope="col">요청일자</th>
                                            <th scope="col">처리여부</th>
                                            <th scope="col">처리일자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade overflow-auto p-4" id="pills-password" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <table class="table table-custom table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">요청자</th>
                                            <th scope="col">요청자 이메일</th>
                                            <th scope="col">요청내용</th>
                                            <th scope="col">요청일자</th>
                                            <th scope="col">처리여부</th>
                                            <th scope="col">처리일자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @gridone-include('../include/mobile-bar.html')
            </div>
        </section>
        @gridone-include('../include/modal.html')
    </main>
    @gridone-include('../include/script.html')
    <script>
        document.getElementsByName("sidebar-dashboard")[0].classList.add("active");
        document.getElementsByName("mbar-dashboard")[0].classList.add("active");
        document.getElementById("setting-request").classList.add("active");
        document.getElementById("page-title").innerHTML = "요청 관리";
    </script>
</body>
</html>