<!DOCTYPE html>
<html lang="ko">
@gridone-include('../include/header.html')
<body>
    <main>     
        <section id="main">
            @gridone-include('../include/sidebar.html')
            <div class="content">
                @gridone-include('../include/nav.html')
                <div class="content-wrapper db-wrapper">
                    <div id="main-card" class="mb-4">
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 h-100 g-4">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-stack fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">총 서비스 개수</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">99개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-check-lg fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">정상 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">99개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-exclamation-lg fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">비정상 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-trash fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">폐기 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-file-earmark-code fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">개발 중 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-cloud-arrow-up fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">운영 중 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sub-card" class="bg-white p-4 flex-grow-1">
                        <div class="d-flex justify-content-end mb-3">
                            <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#history-modal">
                                업데이트 내역
                            </button>
                            <button class="btn btn-custom ms-3">
                                <i class="bi bi-arrow-repeat infinity-rotate"></i>
                                <span>새로고침</span>
                            </button>
                        </div>
                        <div class="overflow-auto">
                            <table class="table table-custom table-hover mb-0" id="table-static">
                                <thead>
                                    <tr>
                                        <th scope="col">Service Name</th>
                                        <th scope="col">Instance</th>
                                        <th scope="col">State</th>
                                        <th scope="col">Deploy</th>
                                        <th scope="col">Update State</th>
                                        <th scope="col">ProCPU</th>
                                        <th scope="col">SysCPU</th>
                                        <th scope="col">HMemory</th>
                                        <th scope="col">NHMemory</th>
                                        <th scope="col">Disk</th>
                                        <th scope="col">Thread</th>
                                    </tr>
                                </thead>
                                <div>
                                    <tbody id="aiServiceArea">
                                    <tr data-bs-toggle='modal' data-bs-target='#instanceDetail-modal' style='cursor: pointer'>
                                        <td class="td-point td-w14p" onclick="onInstanceDetail('10.30.1.40:a2o_super_resolution:10132',299938)">
                                            a2o_super_resolution</td>
                                        <td class="td-point td-w20p" onclick="onInstanceDetail('10.30.1.40:a2o_super_resolution:10132',299938)">
                                            10.30.1.40:a2o_super_resolution:10132</td>
                                        <td class="td-w8p" id="299938_state">NORMAL</td>
                                        <td class="td-w8p" id="299938_deploy">DEVELOPMENT</td>
                                        <td class="td-w8p" id="299938_update">POSSIBLE</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                    </tr>
                                    <tr data-bs-toggle='modal' data-bs-target='#instanceDetail-modal' style='cursor: pointer'>
                                        <td class="td-point td-w14p" onclick="onInstanceDetail('10.10.1.60:a2o_visitor_checker:10115',299613)">
                                            a2o_visitor_checker</td>
                                        <td class="td-point td-w20p" onclick="onInstanceDetail('10.10.1.60:a2o_visitor_checker:10115',299613)">
                                            10.10.1.60:a2o_visitor_checker:10115</td>
                                        <td class="td-w8p" id="299613_state">NORMAL</td>
                                        <td class="td-w8p" id="299613_deploy">DEVELOPMENT</td>
                                        <td class="td-w8p" id="299613_update">POSSIBLE</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                    </tr>
                                    <tr data-bs-toggle='modal' data-bs-target='#instanceDetail-modal' style='cursor: pointer'>
                                        <td class="td-point td-w14p" onclick="onInstanceDetail('10.10.1.223:ksfc-tbl-analyzer:10176',29)">
                                            ksfc-tbl-analyzer</td>
                                        <td class="td-point td-w20p" onclick="onInstanceDetail('10.10.1.223:ksfc-tbl-analyzer:10176',29)">
                                            10.10.1.223:ksfc-tbl-analyzer:10176</td>
                                        <td class="td-w8p" id="29_state">NORMAL</td>
                                        <td class="td-w8p" id="29_deploy">DEVELOPMENT</td>
                                        <td class="td-w8p" id="29_update">POSSIBLE</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                        <td class="td-w7p">0%</td>
                                    </tr>
                                    </tbody>
                                </div>
                            </table>
                            <div class="row row-cols-1 row-cols-lg-3 g-0" id="table-responsive"></div>
                        </div>
                    </div>
                </div>
                @gridone-include('../include/mobile-bar.html')
            </div>
        </section>
        @gridone-include('../include/modal.html')
    </main>
    @gridone-include('../include/script.html')
    <script>
        document.getElementsByName("sidebar-dashboard")[0].classList.add("active");
        document.getElementsByName("mbar-dashboard")[0].classList.add("active");
        document.getElementById("setting-ai").classList.add("active");
        document.getElementById("setting-ai-mobile").classList.add("active");
        document.getElementById("page-title").innerHTML = "AI 서비스 관리";
    </script>
    <script>
        const threadConfig = {
            type: 'bar',
            data: {
                labels: [
                    'DEMON',
                    'LIVE',
                    'PEAK'
                ],
                datasets: [{
                    label: [
                        'Thread'
                    ],
                    backgroundColor: [
                        'rgba(0, 123, 255, 0.75)',
                        'rgba(47, 177, 130, 0.75)',
                        'rgba(220, 53, 69, 0.75)'
                    ],
                    borderColor: [
                        'rgb(0, 123, 255)',
                        'rgb(47, 177, 130)',
                        'rgb(220, 53, 69)'
                    ],
                    borderWidth: '1',
                    data: ['12', '19', '3']
                }]
            },
            options: {
                legend: {
                    display: false
                },
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };

        const threadChartDraw = new Chart(
            document.getElementById('chart-thread'),
            threadConfig
        );
    </script>
    <script>
        const heapConfig = {
            type: 'bar',
            data: {
                labels: [
                    '사용됨',
                    '사이즈',
                    '최대'
                ],
                datasets: [{
                    label: [
                        'Heap'
                    ],
                    backgroundColor: [
                        'rgba(0, 123, 255, 0.75)',
                        'rgba(47, 177, 130, 0.75)',
                        'rgba(220, 53, 69, 0.75)'
                    ],
                    borderColor: [
                        'rgb(0, 123, 255)',
                        'rgb(47, 177, 130)',
                        'rgb(220, 53, 69)'
                    ],
                    borderWidth: '1',
                    data: ['19', '3', '12']
                }]
            },
            options: {
                legend: {
                    display: false
                },
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };

        const heapChartDraw = new Chart(
            document.getElementById('chart-heap'),
            heapConfig
        );
    </script>
    <script>
        const nonheapConfig = {
            type: 'bar',
            data: {
                labels: [
                    '메타스페이스',
                    '사용됨',
                    '사이즈',
                    '최대'
                ],
                datasets: [{
                    label: [
                        'NonHeap'
                    ],
                    backgroundColor: [
                        'rgba(255, 193, 7 , 0.75)',
                        'rgba(0, 123, 255, 0.75)',
                        'rgba(47, 177, 130, 0.75)',
                        'rgba(220, 53, 69, 0.75)'
                    ],
                    borderColor: [
                        'rgb(255, 193, 7)',
                        'rgb(0, 123, 255)',
                        'rgb(47, 177, 130)',
                        'rgb(220, 53, 69)'
                    ],
                    borderWidth: '1',
                    data: ['2', '3', '12', '15']
                }]
            },
            options: {
                legend: {
                    display: false
                },
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };

        const nonheapChartDraw = new Chart(
            document.getElementById('chart-nonheap'),
            nonheapConfig
        );
    </script>
</body>
</html>