<!DOCTYPE html>
<html lang="ko">
@gridone-include('../include/header.html')
<body>
    <main>     
        <section id="main">
            @gridone-include('../include/sidebar.html')
            <div class="content">
                @gridone-include('../include/nav.html')
                <div class="content-wrapper flex-grow-1">
                    <div id="main-card" class="mb-4">
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 h-100 g-4">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-stack fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">총 서비스 개수</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">99개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-check-lg fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">정상 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">99개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-exclamation-lg fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">비정상 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-trash fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">폐기 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-file-earmark-code fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">개발 중 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-icon">
                                            <i class="bi bi-cloud-arrow-up fs-5"></i>
                                        </span>
                                        <h6 class="card-title opacity-50 mt-3 fw-bold mb-0">운영 중 서비스</h6>
                                        <h4 class="d-flex justify-content-end fw-bold mb-0">0개</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sub-card" class="bg-white p-4 flex-grow-1">
                        <div class="d-flex justify-content-end mb-3">
                            <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#history-modal">
                                업데이트 내역
                            </button>
                        </div>
                        <div class="row g-0">
                            <div class="col-12 col-lg-8 mb-4 mb-lg-0 overflow-auto">
                                <table class="table table-custom table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Instance</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Deploy</th>
                                            <th scope="col">Update State</th>
                                            <th scope="col">ProCPU</th>
                                            <th scope="col">SysCPU</th>
                                            <th scope="col">HMemory</th>
                                            <th scope="col">NHMemory</th>
                                            <th scope="col">Disk</th>
                                            <th scope="col">Thread</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-lg-4 overflow-auto ps-0 ps-lg-4">
                                <table class="table table-custom table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Instance</th>
                                            <th scope="col">State</th>
                                            <th scope="col">End</th>
                                            <th scope="col">Regist</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @gridone-include('../include/mobile-bar.html')
            </div>
        </section>
        @gridone-include('../include/modal.html')
    </main>
    @gridone-include('../include/script.html')
    <script>
        document.getElementsByName("sidebar-dashboard")[0].classList.add("active");
        document.getElementsByName("mbar-dashboard")[0].classList.add("active");
        document.getElementById("setting-ai").classList.add("active");
        document.getElementById("page-title").innerHTML = "AI 서비스 관리";
    </script>
</body>
</html>