<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gridone - AI Portal</title>

    <link rel="stylesheet" href="assets/style/master.css">
    <link rel="stylesheet" href="assets/style/bootstrap-treeview.css">
</head>
<body>
    <main>     
        <section id="main">
            @gridone-include('../include/sidebar.html')
            <div class="content">
                @gridone-include('../include/nav.html')
                <div class="content-wrapper">
                    <div id="sub-card" class="flex-grow-1">
                        <div class="row row-cols-lg-3 g-4 h-50">
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">부서 관리</span>
                                        <div class="d-flex justify-content-end align-items-center">
                                            <div class="btn-group me-3" role="group" aria-label="Basic outlined example">
                                                <button type="button" class="btn btn-outline-custom">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-custom">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-custom">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                            <button type="button" class="btn btn-outline-custom">
                                                <i class="bi bi-arrow-repeat"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <div class="row row-cols-1 row-cols-lg-2 g-0">
                                            <div class="col pb-4 pb-lg-0">
                                                <div id="tree"></div>
                                            </div>
                                            <div class="col ps-lg-4">
                                                <ul class="list-group">
                                                    <li class="list-group-item">가나다</li>
                                                    <li class="list-group-item">라마바</li>
                                                    <li class="list-group-item">사아자</li>
                                                    <li class="list-group-item">차카타</li>
                                                    <li class="list-group-item">파하하</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">직급 관리</span>
                                        <div class="d-flex justify-content-end align-items-center">
                                            <div class="btn-group me-3" role="group" aria-label="Basic outlined example">
                                                <button type="button" class="btn btn-outline-custom">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-custom">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-custom">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                            <button type="button" class="btn btn-outline-custom">
                                                <i class="bi bi-arrow-repeat"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <div class="row row-cols-1 row-cols-lg-2 g-0">
                                            <div class="col pb-4 pb-lg-0">
                                                <div class="btn-group w-100" role="group">
                                                    <input type="radio" class="btn-check" name="people" id="all-people" autocomplete="off" checked>
                                                    <label class="btn btn-outline-custom" for="all-people">전체</label>
                                                    <input type="radio" class="btn-check" name="people" id="bus-people" autocomplete="off">
                                                    <label class="btn btn-outline-custom" for="bus-people">영업</label>
                                                    <input type="radio" class="btn-check" name="people" id="dev-people" autocomplete="off">
                                                    <label class="btn btn-outline-custom" for="dev-people">개발</label>
                                                </div>
                                            </div>
                                            <div class="col ps-lg-4">
                                                <form class="w-100" action="#">
                                                    <input type="text" class="form-control" placeholder="검색">
                                                </form>
                                            </div>
                                            <ul class="list-group w-100 mt-3">
                                                <li class="list-group-item">가나다</li>
                                                <li class="list-group-item">라마바</li>
                                                <li class="list-group-item">사아자</li>
                                                <li class="list-group-item">차카타</li>
                                                <li class="list-group-item">파하하</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">시스템 관리</span>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <div class="card-info d-flex align-items-center">
                                            <table class="table table-custom table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">아이디</th>
                                                        <th scope="col">키</th>
                                                        <th scope="col">값</th>
                                                        <th scope="col">암호화</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                    </tr>
                                                    <tr>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                    </tr>
                                                    <tr>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-4 h-50">
                            <div class="card-header">
                                <span class="card-header-text fw-bold opacity-50 d-block">권한 관리</span>
                                <div class="d-flex justify-content-end align-items-center">
                                    <div class="btn-group me-3" role="group" aria-label="Basic outlined example">
                                        <button type="button" class="btn btn-outline-custom">
                                            <i class="bi bi-plus-lg"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-custom">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-custom">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-outline-custom">
                                        <i class="bi bi-save"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <div class="row g-0">
                                    <div class="col-12 col-lg-4 pb-4 pb-lg-0">
                                        <div class="btn-group w-100" role="group">
                                            <input type="radio" class="btn-check" name="auth" id="auth-admin" autocomplete="off" checked>
                                            <label class="btn btn-outline-custom" for="auth-admin">관리자</label>
                                            <input type="radio" class="btn-check" name="auth" id="auth-user" autocomplete="off">
                                            <label class="btn btn-outline-custom" for="auth-user">사용자</label>
                                            <input type="radio" class="btn-check" name="auth" id="auth-custom" autocomplete="off">
                                            <label class="btn btn-outline-custom" for="auth-custom">커스텀</label>
                                        </div>
                                        <form class="w-100 mt-3" action="#">
                                            <input type="text" class="form-control" placeholder="검색">
                                        </form>
                                    </div>
                                    <div class="col-12 col-lg-8 ps-0 ps-lg-4 overflow-auto">
                                        <table class="table table-custom table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">NAME</th>
                                                    <th scope="col">COMMENT</th>
                                                    <th scope="col">CREATE</th>
                                                    <th scope="col">READ</th>
                                                    <th scope="col">UPDATE</th>
                                                    <th scope="col">DELETE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                            <label class="form-check-label visually-hidden" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @gridone-include('../include/mobile-bar.html')
            </div>
        </section>
        @gridone-include('../include/modal.html')
    </main>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="assets/script/bootstrap.bundle.js"></script>
    <script src="assets/script/common.min.js"></script>
    <script>
        $(function () {
            const mainSection = document.getElementById("main");
            const toggleBar = document.getElementById("toggle-bar");

            toggleBar.addEventListener('click', function () {
                if(!mainSection.classList.contains('active')){
                    mainSection.classList.add("active");
                } else {
                    mainSection.classList.remove("active");
                }
            });

            const fullDate = document.querySelector("#dates");

            function getDate() {
                const date = new Date();

                let years = date.getFullYear();
                let months = String(date.getMonth()).padStart(2, "0");
                let dates = String(date.getDate()).padStart(2, "0");

                fullDate.innerText = `${years}년 ${months}월 ${dates}일`;
            }

            getDate();
            setInterval(getDate, 300000);
        });
    </script>
    <script>

        function getTree() {
                // Some logic to retrieve, or generate tree structure
                return tree;
        }

        var tree = [
                {
                    text: "전체",
                    nodes: [
                        {
                            text: "그리드원",
                            nodes: [
                                {
                                    text: "솔루션개발본부",
                                    nodes: [
                                        {
                                            text: "Team Window"
                                        },
                                        {
                                            text: "Team Web"
                                        },
                                        {
                                            text: "Team AIDA"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ];

            $(function () {
                $('#tree').treeview({
                    data: getTree()
                });
            });
    </script>
    <script>
        document.getElementsByName("sidebar-dashboard")[0].classList.add("active");
        document.getElementsByName("mbar-dashboard")[0].classList.add("active");
        document.getElementById("setting-system").classList.add("active");
        document.getElementById("page-title").innerHTML = "시스템 관리";
    </script>
</body>
</html>