<!DOCTYPE html>
<html lang="ko">
@gridone-include('../include/header.html')
<body>
    <main>     
        <section id="main">
            @gridone-include('../include/sidebar.html')
            <div class="content">
                @gridone-include('../include/nav.html')
                <div class="content-wrapper">
                    <div id="sub-card" class="mb-4">
                        <div class="row row-cols-1 row-cols-lg-5 h-100 g-4">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">공지사항</span>
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">18</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">2</span>
                                                <span>개</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">AI 스토리</span>
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">18</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">2</span>
                                                <span>개</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">AI 강의</span>
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">18</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">2</span>
                                                <span>개</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">질문과 답변</span>
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">18</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">2</span>
                                                <span>개</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-header-text fw-bold opacity-50 d-block">이슈</span>
                                    </div>
                                    <div class="card-body d-flex align-items-center">
                                        <div class="card-info d-flex align-items-center">
                                            <span class="info-all fw-bold me-3">
                                                <span class="me-2">총</span>
                                                <span class="info-num">18</span>
                                                <span>개</span>
                                            </span>
                                            <span class="info-new fw-bold me-2">
                                                <span class="me-2">신규</span>
                                                <span class="info-num">2</span>
                                                <span>개</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="main-card" class="bg-white flex-grow-1">
                        <ul class="nav nav-pills row row-cols-2 row-cols-lg-5 g-0" id="pills-tab" role="tablist">
                            <li class="nav-item col d-flex justify-content-center" role="presentation">
                                <button class="nav-link active w-100" id="pills-notice-tab" data-bs-toggle="pill" data-bs-target="#pills-notice"
                                    type="button" role="tab" aria-controls="pills-notice" aria-selected="true">공지사항</button>
                            </li>
                            <li class="nav-item col d-flex justify-content-center" role="presentation">
                                <button class="nav-link w-100" id="pills-aistory-tab" data-bs-toggle="pill" data-bs-target="#pills-aistory"
                                    type="button" role="tab" aria-controls="pills-aistory" aria-selected="false">AI 스토리</button>
                            </li>
                            <li class="nav-item col d-flex justify-content-center" role="presentation">
                                <button class="nav-link w-100" id="pills-aiclass-tab" data-bs-toggle="pill" data-bs-target="#pills-aiclass"
                                    type="button" role="tab" aria-controls="pills-aiclass" aria-selected="false">AI 강의</button>
                            </li>
                            <li class="nav-item col d-flex justify-content-center" role="presentation">
                                <button class="nav-link w-100" id="pills-qna-tab" data-bs-toggle="pill" data-bs-target="#pills-qna" type="button"
                                    role="tab" aria-controls="pills-qna" aria-selected="false">질문과 답변</button>
                            </li>
                            <li class="nav-item col d-flex justify-content-center" role="presentation">
                                <button class="nav-link w-100" id="pills-issue-tab" data-bs-toggle="pill" data-bs-target="#pills-issue"
                                    type="button" role="tab" aria-controls="pills-issue" aria-selected="false">이슈</button>
                            </li>
                        </ul>
                        <div class="tab-content p-4" id="pills-tabContent">
                            <div class="d-flex justify-content-end align-items-end">
                                <form class="me-3" action="#">
                                    <input type="text" class="form-control" placeholder="검색">
                                </form>
                                <button class="btn btn-custom me-3">
                                    <span class="text-nowrap">글쓰기</span>
                                </button>
                                <button class="btn btn-danger">
                                    <span class="text-nowrap">삭제</span>
                                </button>
                            </div>
                            <div class="tab-pane fade show active" id="pills-notice" role="tabpanel" aria-labelledby="pills-home-tab">
                                <table class="table table-custom table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label visually-hidden d-none" for="flexCheckDefault">
                                                        Default checkbox
                                                    </label>
                                                </div>
                                            </th>
                                            <th scope="col">No</th>
                                            <th scope="col">제목</th>
                                            <th scope="col">작성자</th>
                                            <th scope="col">작성일</th>
                                            <th scope="col">비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label visually-hidden d-none" for="flexCheckDefault">
                                                        Default checkbox
                                                    </label>
                                                </div>
                                            </td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="area-pagenation" class="d-flex justify-content-center">
                                    <nav aria-label="pagination">
                                        <ul class="pagination mb-0">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">
                                                        <i class="bi bi-chevron-left"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">
                                                        <i class="bi bi-chevron-right"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-aistory" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <table class="table table-custom table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label visually-hidden" for="flexCheckDefault">
                                                        Default checkbox
                                                    </label>
                                                </div>
                                            </th>
                                            <th scope="col">No</th>
                                            <th scope="col">제목</th>
                                            <th scope="col">작성자</th>
                                            <th scope="col">작성일</th>
                                            <th scope="col">비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label visually-hidden" for="flexCheckDefault">
                                                        Default checkbox
                                                    </label>
                                                </div>
                                            </td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="area-pagenation" class="d-flex justify-content-center">
                                    <nav aria-label="pagination">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">
                                                        <i class="bi bi-chevron-left"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">
                                                        <i class="bi bi-chevron-right"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-aiclass" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <table class="table table-custom table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label visually-hidden" for="flexCheckDefault">
                                                        Default checkbox
                                                    </label>
                                                </div>
                                            </th>
                                            <th scope="col">No</th>
                                            <th scope="col">제목</th>
                                            <th scope="col">작성자</th>
                                            <th scope="col">작성일</th>
                                            <th scope="col">비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label visually-hidden" for="flexCheckDefault">
                                                        Default checkbox
                                                    </label>
                                                </div>
                                            </td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="area-pagenation" class="d-flex justify-content-center">
                                    <nav aria-label="pagination">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">
                                                        <i class="bi bi-chevron-left"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">
                                                        <i class="bi bi-chevron-right"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-qna" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <table class="table table-custom table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label visually-hidden" for="flexCheckDefault">
                                                        Default checkbox
                                                    </label>
                                                </div>
                                            </th>
                                            <th scope="col">No</th>
                                            <th scope="col">제목</th>
                                            <th scope="col">작성자</th>
                                            <th scope="col">작성일</th>
                                            <th scope="col">비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label visually-hidden" for="flexCheckDefault">
                                                        Default checkbox
                                                    </label>
                                                </div>
                                            </td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="area-pagenation" class="d-flex justify-content-center">
                                    <nav aria-label="pagination">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">
                                                        <i class="bi bi-chevron-left"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">
                                                        <i class="bi bi-chevron-right"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-issue" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <table class="table table-custom table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label visually-hidden" for="flexCheckDefault">
                                                        Default checkbox
                                                    </label>
                                                </div>
                                            </th>
                                            <th scope="col">No</th>
                                            <th scope="col">제목</th>
                                            <th scope="col">작성자</th>
                                            <th scope="col">작성일</th>
                                            <th scope="col">비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label visually-hidden" for="flexCheckDefault">
                                                        Default checkbox
                                                    </label>
                                                </div>
                                            </td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="area-pagenation" class="d-flex justify-content-center">
                                    <nav aria-label="pagination">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">
                                                        <i class="bi bi-chevron-left"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">
                                                        <i class="bi bi-chevron-right"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @gridone-include('../include/mobile-bar.html')
            </div>
        </section>
        @gridone-include('../include/modal.html')
    </main>
    @gridone-include('../include/script.html')
    <script>
        document.getElementsByName("sidebar-dashboard")[0].classList.add("active");
        document.getElementsByName("mbar-dashboard")[0].classList.add("active");
        document.getElementById("setting-board").classList.add("active");
        document.getElementById("page-title").innerHTML = "게시판 관리";
    </script>
</body>
</html>